[2019-06-27 13:46] Luis-Palacios commented on #720
Thanks @gabelerner , I did find that link while looking at older versions of the README.md file, do you think it plays along nicely with the latest version of canvg? `https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js"` it seems to be

[2019-06-27 13:56] jimousse opened #721 "feColorMatrix causes error in the console + blank canvas"
Hi!

The issue is probably related to #241 but it is closed so I'm opening a new one to give some new steps to reproduce.

Here's the `svg` that I'm trying to render on `canvas`:
[code]

On the hosted demo page: http://canvg.github.io/canvg/examples/index.htm

![image](https://user-images.githubusercontent.com/6637867/60272015-a7ba7380-98f3-11e9-86b5-de5cfe20c958.png)

I get the following error:
[

[2019-06-27 16:51] gabelerner commented on #667
anybody can open a PR to support it and as long as there are tests i will merge

[2019-06-27 16:52] gabelerner commented on #720
yea it'll play nice, at some point i'll just change the readme to point at that file again when i have time

[2019-06-27 16:53] gabelerner commented on #241
related to https://github.com/canvg/canvg/issues/667

[2019-06-27 17:01] gabelerner commented on #721
related to https://github.com/canvg/canvg/issues/667

canvg doesn't do great at bounding boxes and thinks your path height is 0 which is why it breaks on getting the context

something simpler like
[code]

will work. if you remove the filter you get a green box, with the filter it's orange. gonna close out this issue as it's lumped into that main thread for others to fix.

[2019-06-27 17:01] #721 closed

[2019-06-27 17:13] Luis-Palacios commented on #720
I created a pull request #722  in order to change it

[2019-06-27 17:16] #720 closed

[2019-07-02 01:35] mdnaserhassan opened #723 "Not working with OffscreenCanvas"
Created a OffscreenCanvas and pass into canvg function . It is not able load svg snippet in canvas.
var svg =$('svg')[0].outerHTML
var offscreen =OffscreenCanvas(width,height);
canvg(offscreen,svg);
https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas

[2019-07-02 04:47] gabelerner commented on #723
can you provide a link to a jsfiddle/codepen example that's breaking?

[2019-07-02 06:24] falcon-code opened #724 "SAP UI5, canvg.js and bar chart (vizFrame charts in UI5)"
I use software combination -  SAP UI5 1.52 (vizFrame charts in UI5), canvg.js and jsPDF.js.

The reported error refers to an incorrect drawing of a bar chart with negative values.

The problem is described to in the following link (jsPDF issue #2494)
[https://github.com/MrRio/jsPDF/issues/2494](url)

My **SVG** document:
ziped SVG [SVG4.zip](https://github.com/canvg/canvg/files/3348542/SVG4.zip)
!

[2019-07-02 20:16] mdnaserhassan commented on #723
https://codepen.io/mdnaserhassan/project/editor/ZbBPRb

[2019-07-02 20:16] mdnaserhassan commented on #723
It is working in main UI but when I am importing scripts in web worker then it is breaking

[2019-07-02 21:02] mdnaserhassan commented on #584
I think you have used foreignObject to wrap text inside it . Try using text with tspan . It will be able to convert into canvas

[2019-07-03 02:40] gabelerner commented on #723
your codepen shows canvg isn't defined in the web worker. it seems like you're looking for something like https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope/importScripts ... it's not specific to canvg as any other script would also fail in your web worker so i'm closing the issue.

[2019-07-03 03:15] mdnaserhassan commented on #723
I had commented code where I was importing canvg in web worker. I am able to import other scripts but its failing only for canvg .  I have commented canvg import. check once more

[2019-07-03 04:04] gabelerner commented on #723
are you able to debug it more? i see `uncaught null` in my chrome. maybe you can play with removing parts of canvg until it doesn't break? i just moved my family cross country so i don't have too much time to look into this at the moment but i'll reopen.

[2019-07-03 21:56] dougrich opened #725 "Nesting `def` or `svg` tags inside of a `g` tag causes exceptions when getting the bounding box"
__Related Issues:__ #70, #342, #579

__Details:__

When I have a nested `svg` or a `def` tag inside of a `g` tag, it errors out in the `getBoundingBox` function of the `g` element with the following stack trace:

[code]

I'm not sure if nested (or duplicate) `def` tags are valid, but nested `svg` tags definitely are, since they can be used to reposition things or change coordinate system.

Reducti

[2019-07-09 12:50] almercier opened #726 "Add ability to turn off update interval from drawSvg"
We are calling `drawSvg` but do not want or need the update interval. It makes detecting continuous loops/intervals bugs in our code by pausing the debugger much more difficult, and we really don't need the interval regardless as we are not using animations.

What I would like to request is either a new option that turns off the animation interval entirely that supersedes the `!nodeEnv || opts['en

[2019-07-11 06:47] Chico3001 opened #727 "SVG defs width height bug"
Seems that there is a bug causing to not correctly render the svg if width and height percentages are used:

On this HTML the graph wont be render :
`<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>BID360 - Obtener Datos</title>

		<link rel="stylesheet" type="text/css" href="css/nv.d3.css">

		<script langua

[2019-08-12 06:43] NimaiMalle opened #728 "textPath not working as expected"
[code]

![image](https://user-images.githubusercontent.com/334278/62848615-0d936c80-bca2-11e9-9337-b069fe7ff414.png)

*canvg output* is blank
If I take out the startOffset, I at least see something in the canvg side, but it's not the same.  I suspect the `transform` isn't applying to the path.  When I do get the text to show up, the strike and fill stylings don't match either.  Several issues in w

[2019-08-12 19:28] isaacvr opened #729 "Improve coordinates using complex numbers"
I was looking at the code and there is a lot of work done very hard in terms of manipulation of points, for example, when is needed to rotate a point or perform that kind of operations, is used the "hardcoded" way (Math.cos(angle) * x + Math.sin(angle) * y etc...) when all that work can be easily done with complex numbers as points/vectors.

So, it can be good to modify a little the `svg.Point` cl

[2019-08-19 15:14] meglio opened #730 "How to retrieve javascript instructions instead of drawing?"
I found one online tool doing that, but it uses an outdated version of `canvg`:

http://www.professorcloud.com/svg-to-canvas/

Is there an API to get JavaScript commands as an array of strings out without drawing on a canva?

If not, may you please help create such a jsfiddle?

[2019-08-19 15:15] meglio opened #731 "jsfiddle linked from the Examples page does not work"
This JSFIDDLE does not work:

http://canvg.github.io/canvg/examples/index.htm

Linked from this Examples page:

http://canvg.github.io/canvg/examples/index.htm

[2019-08-20 05:57] gabelerner commented on #731
it works for me. please provide the error message you're seeing.

[2019-08-20 05:57] #731 closed

[2019-08-20 05:58] gabelerner commented on #730
there is no such api for this, you can go into the code and put print statements everywhere i call `ctx.` and collect the commands that way if that's your goal but it is something the library will not support

[2019-08-20 05:58] #730 closed

[2019-08-20 14:07] meglio opened #732 "node.matches is not a function"
When this SVG is tested with the canvg test page: http://canvg.github.io/canvg/examples/index.htm

An error is thrown that says:

[code]

[2019-08-21 02:00] gabelerner commented on #732
this is valid ... we shouldn't be calling `matchesSelector` for nodes that don't have one. someone can open a PR to fix!

[2019-08-21 12:33] SPxiaomin opened #733 "don't support foreignObject?"
## demo code

[code]

## result

the words are not rendered.

[2019-08-21 17:35] dasa opened #734 "Add peerDependenciesMeta package property"
Can the `peerDependencies` be marked as optional using the `peerDependenciesMeta` package property? This is available in Yarn and NPM 6.11: https://github.com/npm/cli/releases/tag/v6.11.0

[2019-08-22 02:17] gabelerner commented on #733
Canvg never plans on supporting it
https://github.com/canvg/canvg/issues/671

[2019-08-22 02:17] #733 closed

[2019-08-22 02:22] gabelerner commented on #734
They're needed in a node env but not in a browser env so not much I can do there. We can maybe at some point have a @canvg/browser and a @canvg/node package and I welcome PRs in that direction.

[2019-08-22 19:53] dasa commented on #734
OK, I was hoping to avoid the peer dependency warnings that are shown.

[2019-08-22 19:53] #734 closed

[2019-09-03 11:17] Bharat0103 opened #735 "While converting markers from SVG to canvas markers get disappeared"
when i want to convert svg to canvg markers get disappeared.
also i have attached the screen shot and code for more clarification.
[sample.txt](https://github.com/canvg/canvg/files/3569197/sample.txt)

Please help me to solved the problem

thanks.
![Untitled](https://user-images.githubusercontent.com/54844605/64168961-51752e00-ce6a-11e9-8741-b07f66567761.png)

[2019-09-10 14:22] jrdiaz opened #736 "Trimmed output for paths with gradients"
Hello, when processing a SVG with a path that has a gradient def, the output gets cut if the size of the shape is greater than 800x600 pixels.

A simplified confirmed failing SVG example file tested in the test page is this one:

[code]

The output for this SVG is this:
![canvg-gradient-testcase](https://user-images.githubusercontent.com/1597693/64621541-251b5d80-d3e6-11e9-802d-683e7277df94.png)

[2019-09-10 20:59] time234 opened #737 "Animation is blinking while reset"
Hello, I found some strange behavior, when I trying to create spinner it seems that animation is different from svg. I tested it on http://canvg.github.io/canvg/examples/index.htm
`<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg><svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" view

[2019-09-11 20:56] varunrayen opened #738 "rendering multiple svgs"
I am trying to render multiple svg's on a canvas.
**For eg**: I have 3 svg elements, when I loop through the elements.
when the second svg is render, it removes the first svg,
when the third one renders, it removes the previous two svgs.

Even though I have the `ignoreClear: true` option added

[2019-09-12 06:31] gabelerner commented on #738
https://jsfiddle.net/cxs75t2k/1/ proves the option is working. please follow that.

[2019-09-14 05:18] gabelerner commented on #738
if you remove width/height it works. i'll reopen for now if somebody wants to dig in.

[2019-09-18 00:48] kdzxiaoli opened #739 "the svg link line cannot convert to show"
![111](https://user-images.githubusercontent.com/30420595/65094806-11c54f00-d9f1-11e9-9935-32d3beff6608.png)

[2019-09-18 05:49] gabelerner commented on #739
please attach the svg string that's causing this error

[2019-09-18 05:55] kdzxiaoli commented on #739
<svg xmlns="http://www.w3.org/2000/svg" width="720.7763671875" height="511.7255859375" viewBox="124.40681457519531 13.274402618408203 720.7763671875 511.7255859375"><title>Tuimap Graph Visualization</title><desc>@Copyright tuimap.com</desc><style type="text/css">text{font-size: 14px;} .node-text{fill: #fff;}</style><g class="layer links"><g class="link" transform="translate(0,0)"><path class="outl

[2019-09-18 05:59] gabelerner commented on #739
reopening for somebody to fix w/ a PR

[2019-09-23 14:44] dragondgold opened #740 "SVG not rendering properly"
I have the following SVG which renders properly on the browser but not on canvg:

[code]

This is the output from the hosted demo site:

![image](https://user-images.githubusercontent.com/2932540/65435773-6c96e600-ddf7-11e9-9430-b261ee518f39.png)

[2019-09-23 21:54] gabelerner-kernel commented on #740
@dragondgold looks like your svg string got cut off. can you simplify your svg string to just render the word "Married" and show that it works on the right side but not the left side and then paste all that in?

[2019-09-24 18:01] bewildergeist opened #741 "TypeScript error: type 'Canvas' not assignable to 'string | HTMLCanvasElement'"
Running `canvas@2.6.0, canvg@2.0.0, jsdom@15.1.1, xmldom@0.1.27` on `node@12.10.0`.

Not using `.ts` files (yet), but have TypeScript set up to compile JS files and report errors.

Running basically this in `node`:

[code]

...reports this error:

[code]

Because the [`Canvas` class exported by `canvas`](https://github.com/Automattic/node-canvas/blob/master/types/index.d.ts#L56) does not conform t

[2019-09-25 05:43] gabelerner commented on #740
thanks for that, i'm able to reproduce the issue. it looks like it's a gradient transform issue. the gradients on their own probably work but when transformed they don't since my implementation there is a bit weak. i don't have time to look at issues now, but hopefully somebody else can w/ the description you gave.

[2019-09-25 05:45] gabelerner commented on #741
yea i guess i would have to generate different typings for browser vs. node ... right now you can just cast it to an HtmlCanvasElement before passing it in. these are all type checks that do nothing at runtime, or just tsignore/tslint ignore. if you want to open a PR that does the split of browser vs server typings, i'll review

[2019-10-08 11:13] wangjingithub opened #743 "为什么引入canvg后这个方法报错啊index.html:92 Uncaught ReferenceError: canvg is not defined"
index.html:92 Uncaught ReferenceError: canvg is not defined

[2019-10-08 17:35] dangreen opened #744 "Refactoring"
@gabelerner Hey 👋

Fyi: currently I'm working on refactoring of canvg in [my fork](https://github.com/TrigenSoftware/flexis-canvg).

If you like it, we can merge it in future, when i'm done refactoring.

Progress:

- [x] Rewrite to TypeScript;
- [x] Сheck if it works;
- [x] Rewrite tests;
- [x] Apply [fixes](https://github.com/canvg/canvg/pulls) from main repo.
- [x] Write docs;

[2019-10-08 19:07] gabelerner-kernel commented on #744
yea that's desired, i wish i had time to do that. it'd be also nice if we move the modules independently so we have a `rectangle.ts` and a `path.ts` and etc. corresponding to each `svg.Element` ... would it help to make you a collaborator on the main repo and you can start piecemealing it one by one? a big refactor would be hard to merge in but i'd happily merge independent modules one at a time.

[2019-10-09 03:23] dangreen commented on #744
@gabelerner-kernel

https://github.com/TrigenSoftware/flexis-canvg/tree/master/src

It's already in TypeScript and already splitted to files :-)

[2019-10-09 05:14] gabelerner commented on #744
Yea that's really neat ... I'm wondering what a good way would be to merge it into canvg but I can just visually review a big PR over a weekend and run through the test suite.

I completely approve of this direction and it's very exciting! If you want, you can just work on it in a branch here? Let me know how I can best support this!

[2019-10-13 20:07] #717 closed

[2019-10-15 09:26] SmythConor commented on #713
I cloned and built a copy of canvg to try the fix, it doesn't seem to be working for me.

Ran a `npm run build` and took the browser copy of `canvg.js`

[2019-10-15 15:55] dangreen commented on #723
@mdnaserhassan
For now, where are no docs, but you can test new version here: https://www.npmjs.com/package/@flexis/canvg

Example: https://github.com/TrigenSoftware/flexis-canvg/blob/15b99d738fe113ab32b5b04ce22bb5c08a88c3bd/test/browser/index.js#L119-L135

😉

[2019-10-15 21:23] kevinlo opened #747 "Got DOMException when having filter with horizontal or vertical line"
Got the following DOMException

[code]

with the following SVG:

[code]

I think the problem is the feOffset is not supported and its dx and dy values are ignored.  So, the [extraFilterDistance ](https://github.com/canvg/canvg/blob/v2.0.0/src/canvg.js#L3675) is zero.  It causes the width or height parameters to the drawImage function to be zero at the [drawImage ](https://github.com/canvg/canvg/bl

[2019-10-16 04:13] gabelerner commented on #747
seems like a valid issue. i don't have time to open PRs but feel free to submit one!

[2019-10-16 04:21] gabelerner commented on #713
whoops i remember that my PR only fixed part of the issue and i was waiting to do the 2nd part. will reopen for somebody to attack what's left.

[2019-10-18 09:28] m55c55 opened #748 "Subscript/superscript"
First of all, thanks a lot for this great library! It works perfectly fine in general but I found an edge case that isn't handled properly.

`canvg` renders relative font-sizes and dy values differently compared to the SVG renderer of the browsers I tested. I created a small test example:

![grafik](https://user-images.githubusercontent.com/3725906/67081829-3a7b6880-f198-11e9-9620-6a00791f3aa3.png

[2019-10-19 22:19] gabelerner commented on #748
the problem is that `if (s.match(/%$/)) return this.numValue() * svg.ViewPort.ComputeSize(viewPort);` does %'s from the `viewPort` (in this case the height of the svg/parent element) whereas we should be doing font sizes off the last defined font-size (25px). hopefully this helps somebody open a PR against this problem.

[2019-10-20 08:06] m55c55 commented on #748
@gabelerner thanks for the hint, I'll give it a try

[2019-10-20 09:20] m55c55 commented on #748
After my changes, there still seems to be a slight difference in the calculation of the dy offsets, but at least to font-size calculation seems to be appropriate now.

![grafik](https://user-images.githubusercontent.com/3725906/67157393-a3471a00-f32b-11e9-90bf-d3e2e41a4523.png)

[2019-10-22 11:43] m55c55 opened #750 "Vertical alignment issue after applying dy in tspan"
Hi,

I have one more weird SVG that is not properly rendered (also after applying the fix from https://github.com/canvg/canvg/issues/748).

See the alignment of the `O` in H2O.

![grafik](https://user-images.githubusercontent.com/3725906/67282271-ab40be80-f4d1-11e9-9e93-889d794d54b1.png)

This is the SVG's source code:

[code]

Any idea where I can look for the root cause of this issue?

[2019-10-23 06:11] gabelerner commented on #750
seems related ... if on `master` you change the `font-size:70%` to `font-size:20px`, everything lines up:

![image](https://user-images.githubusercontent.com/241819/67362898-08b02c00-f521-11e9-9ea2-ba2dc92334f3.png)

it's definitely the way that we're doing font sizes and percents. another thing that i never got around to implementing is that `svg.emSize` is just a number but should be more of a "

[2019-10-29 20:32] gonzofish commented on #738
I removed the height & width from the `svg2` in https://jsfiddle.net/varunrayen/6sjLxgzb/2/ and it rendered, but when I hovered over the compiled canvas the second shape disappears.

Seemed to happen if I removed height & width from the `svg1` too. Also if you swap their `canvg` calls, the square disappears on hover.

[2019-10-29 20:41] gonzofish commented on #738
Passing `ignoreDimensions: true` seemed to fix it?

[2019-10-30 16:19] gonzofish opened #755 "Data Attribute with Markup in It"
Here's a jsfiddle: https://jsfiddle.net/gonzofish/e3ytvp1g/56/

Notice that only the black rectangle (`svg2`) is rendered. This is because in the markup for `svg1` there is a dataset attribute (`data-unformatted`) with an angle bracket in it (`<`):

[code]

Removing this bracket or replacing it with `>` renders `svg1` with no problem.

[2019-11-01 02:56] gabelerner-kernel opened #756 "Potential updates to make for 3.0.0"
1) Can we eject `.eslintrc` so we can edit it here for our future needs?
2) Can we eject `.browserlistrc` so we can edit it here for our future needs?
3) Issue 104 is broken (in both v2/v3, need to move it to broken, this is my mistake from earlier - i went through all the generated images and v3 matches or beats v2 on all of them!) <== never mind it's already listed in `broken`
4) Should we add b

[2019-11-01 11:47] dangreen commented on #756
@gabelerner
1) Yes, but there is also tslint config. Soon I want to move from tslint to typescript-eslint in all my projects. So, for now, I suggest to leave `.eslintrc` as is .
2) yes
5a) umd bundle with all dependencies inside: https://unpkg.com/@flexis/canvg@3.1.1-beta/lib/umd.js
5b) `canvg()` is like fallback for old browsers, without svg support. Currently all modern browsers support it. I th

[2019-11-01 14:59] jkjustjoshing opened #757 "transfor-origin CSS is ignored"
Given the following SVG:

[code]

In Chrome, this is (correctly) rendered as a red square centered at the coordinate (50px,50px), rotated 45 degrees.

With canvg, this is (incorrectly) rendered as a red square centered at the coordinate (0, (-50√2)px), rotaded 45 degrees. This is the expected outcome if the `transform-origin` is at (0,0), which is what it is for SVG.

Additionally, `transform-orig

[2019-11-03 04:45] gabelerner commented on #755
this is just an invalid svg which no library can handle - chrome gives a similar error
![image](https://user-images.githubusercontent.com/241819/68080504-0cae3a80-fdba-11e9-8daf-50a712130e5a.png)

[2019-11-03 04:45] #755 closed

[2019-11-03 05:27] gabelerner commented on #756
some fixes in https://github.com/canvg/canvg/pull/762

[2019-11-03 06:51] dangreen commented on #744
https://github.com/canvg/canvg/pull/751

[2019-11-03 06:51] #744 closed

[2019-11-03 06:54] dangreen commented on #756
@gabelerner Can you please connect dependabot and coveralls to the repo?

[2019-11-03 06:55] dangreen commented on #723
@mdnaserhassan

https://www.npmjs.com/package/canvg/v/3.0.0-beta.0
https://github.com/canvg/canvg#example

[2019-11-03 06:56] dangreen commented on #723
@mdnaserhassan @gabelerner Can we close this issue?

[2019-11-03 14:55] gabelerner commented on #723
I think so thanks to your work on 3.0. Please reopen with breaking examples if something doesn't work.

[2019-11-03 14:55] #723 closed

[2019-11-03 15:35] #694 closed

[2019-11-03 15:50] #748 closed

[2019-11-03 16:13] gabelerner commented on #756
@dangreen done on those 2!

[2019-11-03 18:04] m55c55 commented on #750
Hi @gabelerner , the last weeks I played around some time with this issue. And I got some progress locally, but I did not get to a satisfying solution yet. Sadly, I won't be able to continue working on this for the next weeks.

[2019-11-04 01:40] gabelerner commented on #750
Hey @m55c55 we got the big typescript refactor into master on version 3.0 (and included your prior PR). this allows us to have more confidence in future fixes and I think I can get to this issue fairly soon on that codebase. please set your projects up off the new 3.0 API and provide any feedback to us there and this should get in fairly soon.

[2019-11-04 08:24] m55c55 commented on #750
Hi @gabelerner , happy to hear that the transition to TypeScript happened. It will make the future development much more robust and less trial-and-errorish. We will move to canvg 3.0 as soon as it was released and provide feedback as soon as anything comes up.

[2019-11-05 06:01] bpowers opened #768 "3.0.0: RenderContext2D type is lost through babel"
I'm trying to use 3.0.0 in a project, and its fixed an issue I had with 2.0, so thats great!  But there are a few weird things.  The first is a type error when trying to use it server-side:

[code]
(and a bunch more)

it seems that the globals.d.ts file isn't included in the generated lib directory.  In general I'm using canvg server side and client side - I would really prefer if you could just u

[2019-11-05 06:01] bpowers commented on #768
(I worked around this for now by copying globals.d.ts into my own project)

[2019-11-05 06:08] dangreen commented on #768
@bpowers Hi!

NPM package contains "raw" bundle version: [`canvg/lib/index.babel.js`](https://unpkg.com/browse/canvg@3.0.0-beta.0/lib/index.babel.js)

[2019-11-05 07:09] dangreen commented on #768
@bpowers Types fix: https://www.npmjs.com/package/canvg/v/3.0.0-beta.1

[2019-11-06 04:18] gabelerner opened #770 "test page doesn't resize source svg"
@dangreen i undid this from the other PR, maybe you can provide a good solution!

in test/browser, rendering the default hello world:
![image](https://user-images.githubusercontent.com/241819/68267980-3f01a700-0009-11ea-8a6c-1f79cb45d361.png)

whereas just rendering the svg on it's own should show the 50px/50px offset:
https://jsfiddle.net/gju38pok/

the expectation is that the right side also sho

[2019-11-06 04:21] bpowers commented on #768
@dangreen eep, I think the publish didn't work right or something (no lib directory):
[code]

[2019-11-06 04:23] gabelerner commented on #768
yea that's my bad, i forgot to build before i pushed. i'll push up a `.2` in a sec

[2019-11-06 04:29] dangreen commented on #768
@gabelerner Please use`cleanPublish` script for publishing

https://github.com/canvg/canvg/blob/master/package.json#L45

[2019-11-06 04:33] gabelerner commented on #768
@dangreen yea i'm looking at that now, how do i add `--tag beta` to it easily?

[2019-11-06 04:37] dangreen commented on #768
@gabelerner mmm okay) For "beta" use npm or yarn.

[2019-11-06 04:43] gabelerner commented on #768
i ran cleanPublish but ctrl+c'd at the publish step and then used npm to publish

https://www.npmjs.com/package/canvg/v/3.0.0-beta.2

does that look right?

[code]

[2019-11-06 04:45] dangreen commented on #768
@gabelerner For this you can use (`without-publish` option](https://github.com/shashkovdanil/clean-publish#usage).

Browse package content you can on unpkg.com

https://unpkg.com/browse/canvg@3.0.0-beta.2/

[2019-11-06 04:52] gabelerner commented on #768
got it 👍 i'll also update the `CHANGELOG` with all the PRs we pushed right before we publish 3.0.0 officially

[2019-11-06 15:43] #757 closed

[2019-11-07 05:06] gabelerner commented on #406
this was added! it's now in 3.0.0-beta under our new API. Please try it out!

https://github.com/canvg/canvg/blob/master/test/__image_snapshots__/browser-issue406.svg-snap.png shows what 3.0 outputs

[2019-11-07 05:06] #406 closed

[2019-11-07 10:36] tjohannto opened #782 "canvg2 text-anchor with text/tspan not rendered properly"
I am using the current version of canvg : https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js (assuming this is v2.0.0) but https://cdn.jsdelivr.net/npm/canvg@2.0.0-beta.0/dist/browser/canvg.min.js also does not work...

I use tspan elements in a text element and when I export this to canvas using canvg the element is not rendered correctly:

SVG:
![image](https://user-images.githubuserco

[2019-11-07 10:38] dangreen commented on #782
@tjohannto Current beta version is [3.0.0-beta.2](https://www.npmjs.com/package/canvg/v/3.0.0-beta.2)

[2019-11-07 10:43] tjohannto commented on #782
Thanks, I can't find any CDN link for usage in jsFiddle or similar. Is there any?

[2019-11-07 10:46] dangreen commented on #782
@tjohannto https://unpkg.com/canvg@3.0.0-beta.2/lib/umd.js

Browser example: https://github.com/canvg/canvg#example

[2019-11-07 10:49] tjohannto commented on #782
Thank you.
Result is the same:
![image](https://user-images.githubusercontent.com/45257386/68382748-a1b38980-0154-11ea-9161-094afb3bc04d.png)

https://jsfiddle.net/gothmogg/0j541nav/

[2019-11-08 20:32] dangreen commented on #768
@bpowers Can we close this issue?

[2019-11-09 05:16] gabelerner commented on #782
here's a simplified version https://jsfiddle.net/4tbfpj7v/1/

[2019-11-09 21:33] bpowers commented on #768
@dangreen yup, thanks so much!

[2019-11-09 21:38] #768 closed

[2019-11-10 09:20] dangreen commented on #770
#786

[2019-11-10 09:20] #770 closed

[2019-11-10 15:44] #750 closed

[2019-11-11 17:42] dangreen commented on #735
@gabelerner I think need to publish next beta release with this fix.

[2019-11-11 17:45] dangreen commented on #756
@gabelerner

I want to finish this fix https://github.com/canvg/canvg/pull/787, then we can publish v3.

[2019-11-12 02:37] gabelerner-kernel commented on #735
https://www.npmjs.com/package/canvg/v/3.0.0-beta.3

[2019-11-12 09:16] Bharat0103 commented on #735
New Build is not working for me. see the attached screen shot
![Untitled](https://user-images.githubusercontent.com/54844605/68658250-1d4d7600-055b-11ea-869c-e5d463bd7d6f.png)

[2019-11-12 09:40] dangreen commented on #735
@Bharat0103 Demo is not updated yet.

@gabelerner Can you please rebuild docs dir with new demo?

[2019-11-12 10:55] Bharat0103 commented on #735
how can i build docs dir?

[2019-11-13 04:51] Bharat0103 commented on #735
can you please do the build operation so that i can test it.

[2019-11-13 06:29] gabelerner commented on #735
try now

[2019-11-17 09:36] kallelat commented on #756
Any estimates for the release of v3? Just spend a few hours just to notice npmjs has v2 but all the docs (here) are for v3 😅

[2019-11-17 15:56] gabelerner commented on #756
The v2 docs are in the main page of npm. That is where people should be looking for how to use it. GitHub just hosts the latest code so it will be out of sync until we release. I think we're a PR away from releasing but beta is pretty stable if you want to install that from npm and start using. The API is not expected to change.

[2019-11-17 16:24] dangreen commented on #756
@kallelat https://www.npmjs.com/package/canvg/v/3.0.0-beta.3

[2019-11-17 18:35] kallelat commented on #756
thanks @dangreen and @gabelerner - I guess anyone can learn new things even at this age, didn't even consider possibility that npmjs could have "newer" versions than the latest/stable 😅

the api might have not changed, but with v2 my ts configuration didn't like it and complained a lot - not sure when this project had ts introduced, but with v3 it seems work out of the box...

[2019-11-17 19:05] kallelat opened #801 "TypeScript error when running 3.0.0-beta.3 on NodeJS"
Hi,

running the following code:

[code]

does not pass pass tsc, the following command at the beginning "presets.node(...)" throws the following type error:

[code]

I'm using the followig libs:
[code]

and the following tsconfig.json:
[code]

any thoughts?

[2019-11-17 19:37] gabelerner commented on #756
V3 was built on TS and is far easier to manage. The API won't change between 3-beta and actual 3 but did change between 2 and 3.

[2019-11-28 08:05] mitesh-shah opened #812 "Question"
Can this library be used in Angular 7 with Ionic 4?

[2019-11-28 08:06] dangreen commented on #812
@mitesh-shah yes

[2019-11-28 08:07] mitesh-shah commented on #812
@dangreen Could you please help me with some sample example?

[2019-11-28 08:09] dangreen commented on #812
@mitesh-shah Please use [stackoverflow.com](https://stackoverflow.com/) for questions like this

[2019-11-28 08:11] mitesh-shah commented on #812
Understood. 👍
But, couldn't find any example on it? So asked here.

[2019-11-28 08:14] dangreen commented on #812
@mitesh-shah There are 5 usage example in readme

https://github.com/canvg/canvg#usage

[2019-11-28 08:16] mitesh-shah commented on #812
@dangreen None of them seems to be in Angular 2+ (Typescript)

[2019-11-28 08:18] dangreen commented on #812
@mitesh-shah Almost all examples are also valid TypeScript code

[2019-11-29 10:16] mitesh-shah commented on #812
@dangreen Ok, If you say so. :)
But, all of them are in Javascript.

[2019-11-29 14:24] gabelerner commented on #812
Typescript is a superset of JavaScript. All JavaScript is valid Typescript but not the other way around. Also, Angular is just a framework - canvg supports all JavaScript frameworks you just call the functions in the right place. If you need more help understanding where to do that in Angular you can use stackoverflow.

[2019-11-29 14:24] #812 closed

[2019-11-30 05:43] dangreen commented on #735
@Bharat0103 ?

[2019-12-01 07:24] dangreen commented on #735
@Bharat0103 @gabelerner can we close this issue?

[2019-12-01 16:22] #735 closed

[2019-12-01 17:11] dangreen commented on #756
@gabelerner
Please check https://github.com/canvg/canvg/pull/787 and https://github.com/canvg/canvg/pull/813
If it's ok I think we are ready to publish stable v3 release 🚀

[2019-12-01 22:51] gabelerner commented on #756
i pushed out https://www.npmjs.com/package/canvg/v/3.0.0-beta.4 so we can close out the issues behind the PR. i opened up https://github.com/canvg/canvg/pull/815 so we can update the changelog/etc there

[2019-12-01 23:12] gabelerner commented on #782
@tjohannto try now on the latest beta release

[2019-12-02 05:41] FunkiR opened #816 "error when getBoundingBox(ctx) return null"
[code]

[2019-12-02 05:45] gabelerner commented on #816
please provide your full svg string that's causing the error as well as the version you're using. we're close to releasing 3.0 so try using 3.0.0-beta.4

[2019-12-02 06:55] dangreen commented on #801
@kallelat try now on the latest beta release

[2019-12-02 10:12] tjohannto commented on #782
Hi, I have updated my jsFiddlet with the current beta (https://unpkg.com/canvg@3.0.0-beta.4/lib/umd.js)

https://jsfiddle.net/gothmogg/0j541nav/

The issue is resolved. Thank you.

[2019-12-02 10:12] #782 closed

[2019-12-02 10:17] kallelat commented on #801
@dangreen seems to work 👍

[2019-12-02 10:36] #801 closed

[2019-12-03 06:46] FunkiR commented on #816
new version has the same problem:
_createClass(FilterElement, [{
    key: "apply",
    value: function apply(ctx, element) {
      // render as temp svg
      var document = this.document;
      var boundingBox = element.getBoundingBox(ctx);
      var x = Math.floor(boundingBox.x1)

`
<svg id="SvgjsSvg12091" width="1860" height="270" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
		 xmln

[2019-12-03 11:55] Alsmile opened #829 "How render in the given or shared canvas, not by a new canvas"
Canvg.render(sharedCtxCreatedByOthers, x, y, width, height, svg)

[2019-12-04 04:27] gabelerner commented on #829
on the 3.0 branch, you can read the example @ https://github.com/canvg/canvg#example ... just replace `ctx` with your canvas.

on the 2.0 branch, scroll to the bottom of the readme @ https://github.com/canvg/canvg/tree/v2.0.0 and use the `drawSvg` method.

please close if this helps

[2019-12-04 04:34] gabelerner commented on #756
🎉

[2019-12-04 04:34] #756 closed

[2019-12-04 05:21] dangreen commented on #816
@FunkiR Please check canvg@3.0.1

[2019-12-04 05:21] dangreen commented on #756
🚀

[2019-12-04 05:37] FunkiR commented on #816
everything is ok, thx

[2019-12-04 05:37] #816 closed

[2019-12-04 09:46] FunkiR opened #832 "half-image in ie11"
Hi again) Current version - 3.0.1. In v2 this works correctly.

<details>
<summary>svg</summary>

[code]
</details>

[2019-12-04 17:48] gabelerner commented on #756
https://news.ycombinator.com/item?id=21704633 made a post there, might hit up `/r/programming` too to get some more interest

[2019-12-05 14:50] dangreen commented on #756
@gabelerner My small contribution: https://twitter.com/dangreen58/status/1202600061680734208 😃

[2019-12-05 14:51] dangreen commented on #832
@gabelerner When we will made release with fix of this issue?

[2019-12-06 07:44] gabelerner commented on #832
i just pushed 3.0.2 ... didn't update the jsfiddle due to laziness but rest is there

[2019-12-06 12:29] FunkiR commented on #832
it works, thanks!

[2019-12-06 12:30] #832 closed

[2019-12-18 07:38] brettz9 commented on #654
Related to this, with the recent TypeScript changes, I am not able to set up the full linting environment with a local `yarn` install.

[2019-12-24 13:40] kimyLee opened #867 "can not show the svg filter in the canvas"
the svg text include like `filter="url(#blocklyStackGlowFilter)"`,  the svg render the filter normally while the canvas draw without filter

[2019-12-24 17:14] gabelerner commented on #867
Please provide your whole svg

[2019-12-26 13:00] Undo101 opened #869 "the rect in svg can not be rending when to canvas?"
In my svg, there are both text、rect  or path, and the text is above rect，the rect as a background-color block for the text. when i use "canvg.fromString" and "render" to make a canvas, text and path is ok, but rect not. can you tell how to fix it ? thanks

[2019-12-26 15:47] gabelerner commented on #869
Paste your whole svg string please

[2019-12-27 02:03] scq000 opened #870 "Svg embedded image will throw error"
Since the `loadImage` called in `ImageElement.constructor`  is an async operation, an error will happen when calling the ` renderChildren` method if the image has not been loaded.

![image](https://user-images.githubusercontent.com/12999391/71496668-651c2880-288f-11ea-8875-9fe323ca2174.png)

![image](https://user-images.githubusercontent.com/12999391/71496690-8a109b80-288f-11ea-9f6b-81dc67880c49.p

[2019-12-27 02:11] scq000 commented on #870
<svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="font-family:'lucida grande', 'lucida sans unicode', arial, helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="600" height="210"><desc>Created with Highstock 4.2.7</desc><defs><clipPath id="highcharts-5"><rect x="0" y="0" width="520" height="166"></rect></clipPath></defs><rect x="0" y="0" width="600"

[2019-12-27 02:13] scq000 commented on #870
svg for testing:

[code]

[2019-12-27 02:58] Undo101 commented on #869
Like this:
<svg id="svg" class="iSvg_17x0g" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" height="307.05079605761944" width="375" viewBox="0 0 375 307.05079605761944" style="width: 375px; height: 307.051px; cursor: pointer;"><image xlink:href="/static/media/pic-test-wide.8c5dead7.jpg" x="0" y="0" height="307.05079605761944" width="375" transform

[2019-12-27 02:58] Undo101 commented on #869
Like this
"<svg id="svg" class="iSvg_17x0g" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" height="307.05079605761944" width="375" viewBox="0 0 375 307.05079605761944" style="width: 375px; height: 307.051px; cursor: pointer;"><image xlink:href="/static/media/pic-test-wide.8c5dead7.jpg" x="0" y="0" height="307.05079605761944" width="375" transform

[2019-12-27 03:01] Undo101 commented on #869
Like this:(I use the "*" replace "<" to prevent code from being parsed)
*svg id="svg" class="iSvg_17x0g" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" height="307.05079605761944" width="375" viewBox="0 0 375 307.05079605761944" style="width: 375px; height: 307.051px; cursor: pointer;"><image xlink:href="/static/media/pic-test-wide.8c5dead7.jpg"

[2019-12-27 03:02] gabelerner commented on #869
i can fix it for you @Undo101 , just paste it in any format.

you can also use three backticks (```) around your svg string for it to not parse weird.

[2019-12-27 03:02] Undo101 commented on #869
Like this:
`<svg id="svg" class="iSvg_17x0g" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" height="307.05079605761944" width="375" viewBox="0 0 375 307.05079605761944" style="width: 375px; height: 307.051px; cursor: pointer;"><image xlink:href="/static/media/pic-test-wide.8c5dead7.jpg" x="0" y="0" height="307.05079605761944" width="375" transfor

[2019-12-27 03:06] Undo101 commented on #869
For example, in svg:
![image](https://user-images.githubusercontent.com/26062774/71498766-951bf980-2898-11ea-8630-a3953f239373.png)
but after to canvas:
![image](https://user-images.githubusercontent.com/26062774/71498822-e62bed80-2898-11ea-9048-e9c8d6d6abbb.png)

[2019-12-27 07:36] Undo101 commented on #869
I have pinpointed the problem, when canvg render the rectElement, you get the size of rect from the attribute,but in my svg, i wrote the width and height in css.
Thank you for creating the canvg plugin, it really helped me save a lot of time.
But I think canvg should code a tool class to get the size or other attributes of the tag, and then serve each class like rectElement to get its related attr

[2019-12-27 07:37] Undo101 commented on #869
I have pinpointed the problem, when canvg render the rectElement, you get the size of rect from the attribute, but in my svg, i wrote the width and height in css.
Thank you for creating the canvg plugin, it really helped me save a lot of time.
But I think canvg should code a tool class to get the size or other attributes of the tag, and then serve each class like rectElement to get its related att

[2019-12-28 04:46] gabelerner commented on #869
@dangreen here's a simpler example:
[code]

basically we should read `width` and `height` from styles as well as attributes.

[2019-12-28 05:03] gabelerner commented on #870
@dangreen i think we just have to move the image code into the `this.loaded` check

[2020-01-06 11:18] Undo101 opened #878 "canvas.toDataURL('image/jpeg', 1) failed"
I got the canvas after v.render({...}), and then I use the canvas to carry out "canvas.toDataURL('image/jpeg', 1)", it was failed,  hint me:
 "DOMException: Failed to execute 'toDataURL' on 'HTMLCanvasElement': Tainted canvases may not be exported."
I can't find out what was tainted, can you help me?

[2020-01-06 11:22] dangreen commented on #878
https://www.unblu.com/en/docs/latest/knowledge-base/html-tainted-canvas-limitation.html

пн, 6 янв. 2020 г. в 18:18, Undo101 <notifications@github.com>:

[2020-01-06 11:33] Undo101 commented on #878
Thank you for your reply!
I'm sure the server of img has set the header: Access-Control-Allow-Origin: *;
Also I write the attribute in my js code: img.setAttribute('crossorigin', 'anonymous');
even l even went into the source code of canvg and added this attribute to createImage；
but to no avail
![image](https://user-images.githubusercontent.com/26062774/71815723-5e758880-30bb-11ea-9ef2-3289eb204f

[2020-01-06 11:34] Undo101 commented on #878
Thank you for your reply!
I'm sure the server of img has set the header: Access-Control-Allow-Origin: *;
Also I write the attribute in my js code: img.setAttribute('crossorigin', 'anonymous');
l even went into the source code of canvg and added this attribute to createImage；
but to no avail
image

[2020-01-06 11:35] Undo101 commented on #878
Thank you for your reply!
I'm sure the server of img has set the header: Access-Control-Allow-Origin: *;
Also I write the attribute in my js code: img.setAttribute('crossorigin', 'anonymous');
l even went into the source code of canvg and added this attribute to createImage；
but to no avail
![image](https://user-images.githubusercontent.com/26062774/71815818-a72d4180-30bb-11ea-8c78-1eed8efceec9.pn

[2020-01-06 11:41] dangreen commented on #878
@Undo101

https://stackoverflow.com/a/20562223

[2020-01-06 14:31] Undo101 commented on #878
I found the reson, not only config the response header allow-origin, but also set the crossOrigin  for the image in the canvg;
![image](https://user-images.githubusercontent.com/26062774/71824162-d485e980-30d3-11ea-8556-0cc9856133c5.png)
Actually,I have been guessing that it is caused by crossOrigin, because I used "canvas.toDataURL" directly before without problems, but I have made a mistake in d

[2020-01-06 14:46] Undo101 commented on #878
I see that you have set it in the createImage function, but it is commented out. I want to know Why?

[2020-01-06 14:48] dangreen commented on #878
@Undo101 It should be under the option, as it was in v2. I will done it soon.

[2020-01-06 14:56] Undo101 commented on #878
Thank you so much, your reply is so fast.
Can i use it tomorrow？or I need to modify it myself in my program.

[2020-01-07 01:33] Undo101 commented on #878
Hello, dangreen, Could you update the package in NPM.

[2020-01-07 03:36] dangreen commented on #878
@gabelerner ?

[2020-01-07 05:33] gabelerner commented on #878
sorry on pacific time and work 9-5, it's done now

[2020-01-07 06:17] Undo101 commented on #878
Hey, guys, I found that only the readme file is updated in npm, there is no option for anonymousCrossOrigin in index.es.js.
![image](https://user-images.githubusercontent.com/26062774/71872675-1c4e5480-3158-11ea-8dbb-9e636ef615ac.png)
![image](https://user-images.githubusercontent.com/26062774/71872763-57508800-3158-11ea-98b8-2565bbd35c8d.png)
@gabelerner @dangreen

[2020-01-07 06:43] dangreen commented on #878
Package is not published yet.

вт, 7 янв. 2020 г. в 13:17, Undo101 <notifications@github.com>:

[2020-01-07 06:45] dangreen commented on #878
@gabelerner can you publish v3.0.3 soon?

[2020-01-07 06:46] gabelerner commented on #878
hmm i used `cleanPublish` but must have done it wrong. i published/unpublished so now republishing.

[2020-01-07 06:57] gabelerner commented on #878
ok try 3.0.4 ...

[2020-01-07 07:09] Undo101 commented on #878
3.0.4 is ok!  This fix really helped me a lot, thank you very much, love you ❤️

[2020-01-07 07:29] dangreen commented on #878
https://github.com/canvg/canvg/pull/880

[2020-01-07 07:29] #878 closed

[2020-01-07 07:30] dangreen commented on #870
@scq000 please test fix in v3.0.4

[2020-01-07 07:30] dangreen commented on #869
@Undo101 please test fix in v3.0.4

[2020-01-14 05:05] Rydori opened #897 "feColorMatrix not working"
I wanted to use a ColorMatrix, but rendering it just ignored the filter
The following is the interesting part out of the svg
[code]

[2020-01-14 06:31] Rydori commented on #897
it seems to be a problem with the evaluation of the filter and transform, the following works in my svg (also here only the problematic code)
[code]

[2020-01-15 08:08] #869 closed

[2020-01-15 08:08] #870 closed

[2020-01-16 14:44] tomsoderlund opened #908 "How to use Google Fonts with Canvg using @import?"
Is `@import` or `style` not supported?

With the `style` tag below, Canvg just renders white. Removing the `style` tag renders an image.

    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="1200px" height="628px" viewBox="0 0 1200 628" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <linearGradient x1="0%" y1="0%" x2="100%" y

[2020-01-27 05:54] gabelerner commented on #908
Something like https://canvg.github.io/canvg/demo/index.html?svg=../svgs/36.svg will work
use `@font-face` with `src: url(...)`. Let me know if that's enough!

[2020-01-27 06:23] gabelerner commented on #897
can you send your whole svg w/ any images?

using your filter on a rect works for me:
[code]

![image](https://user-images.githubusercontent.com/241819/73153940-7f157a80-408a-11ea-95f9-498c9a4d748b.png)

[2020-02-03 16:31] Rydori commented on #897
the problem is only present when you apply the filter on an rect or image or whatever when the element with the filter-attribute has also a transform attribute that for example translates it

[2020-02-03 16:37] Rydori commented on #897
This works:
`<svg>
  <defs>
         <filter id="aquamarin">
		<feColorMatrix in="SourceGraphic" type="matrix" values="0.0941176470588235 0 0 0 0, 0 0.7686274509803922 0 0 0, 0 0 0.8784313725490196 0 0, 0 0 0 1 0" />
	</filter>
  </defs>
<g transform="matrix(1 0 0 1 355 0)">
  <rect fill="gray" x="1" y="1" width="100" height="100" filter="url(#aquamarin)" />
</g>
</svg>
`

and this not:
`<svg>
  <

[2020-02-07 09:11] ygra opened #941 "Zero-radius ellipse should not be rendered"
cf. SVG test suite, `shapes-ellipse-02-t.svg`:

[code]

[2020-02-13 19:06] Belisarith opened #942 "Possibility to render only certain nodes of svg."
I'm using canvg in combination with konvajs for react. I want to implement hit detection for subnodes, i.e. each path, of a big svg. For this purpose I need the ability to choose which node to render. In essence I would need the ability to select a certain child of the document children array an choose to render only this. is this somehow possible?

[2020-02-14 17:09] Belisarith opened #944 "Option to supress warnings - Feature Request"
When importing an svg there might be a lot of console warnings, which might be helpful for debugging purposes, but not later on. However, I would like to suppress the console warnings of canvg. Warnings like the following are not really helpful, if you cannot change the svg source:
![image](https://user-images.githubusercontent.com/8216815/74552196-f8e7a800-4f54-11ea-9ff8-ee5432fba93a.png)

[2020-02-17 17:27] Baxom opened #945 "canvas not loading all svg..."
Hello,

Here a suspicious case, i 'm trying to print a svg (creating by d3js).

But the following function is missing a part of the svg. (axis of the graph).

See demo here: [https://jsfiddle.net/tkz3u9vg](https://jsfiddle.net/tkz3u9vg), you can get the Html from the demo.

Expecting is here :

![expecting](https://user-images.githubusercontent.com/38691894/74675028-f08ca880-51b2-11ea-92af-004b42b

[2020-02-19 20:15] thitemple opened #946 "Canvas is not rendering nested svg"
I have this SVG:
[code]

That is not rendering the nested SVGs properly.

![Screen Shot 2020-02-19 at 3 13 38 PM](https://user-images.githubusercontent.com/368734/74872136-9e6e9300-532a-11ea-85fd-0d629c3be91a.png)

Look at the blue and gray shapes on the chart, those are the ones not working properly.
From the above sample, the elements are the ones with `data-testid="PinMark"` and `data-testid="S

[2020-02-22 09:24] Belisarith opened #948 "GetBoundingBox not working for Textelement - Reason getChildBounding Box"
If I use getBoundingBox on a Groupelement which contains a textelement (<text>) I get the following error. The reason is the getChildBoundingBox function is not defined on the children of the TextElement.

TypeError: child.getBoundingBox is not a function
    at TextElement.getChildBoundingBox (runtime.js:726)
    at runtime.js:726
    at Array.forEach (<anonymous>)
    at TextElement.getBoundingB

[2020-02-23 00:37] gabelerner commented on #946
thanks for the submission @thitemple . it's actually something in our path parsing. a smaller example is:
[code]

![image](https://user-images.githubusercontent.com/241819/75101446-88aed700-5591-11ea-9a59-b630b3dca2c0.png)

i'll look at some point unless @dangreen beats me to it

[2020-02-23 00:59] gabelerner commented on #945
@dangreen another path parsing error
[code]

[2020-02-23 01:03] gabelerner commented on #944
is it getting in the way of debugging other things?

[2020-02-23 01:08] gabelerner commented on #942
maybe something like https://github.com/canvg/canvg/blob/master/src/Mouse.ts#L104 ?

[2020-02-23 01:15] gabelerner commented on #941
yea we just need [this check](https://github.com/canvg/canvg/blob/master/src/Document/CircleElement.ts#L17) in [ellipse](https://github.com/canvg/canvg/blob/master/src/Document/EllipseElement.ts) with `rx > 0` and `ry > 0`

[2020-02-24 08:06] dangreen commented on #741
@gabelerner Due to v3 I think we can close it?

[2020-02-24 08:09] dangreen commented on #747
@kevinlo Thanks for an issue.

@kevinlo @gabelerner I can take it soon

[2020-02-24 08:10] dangreen commented on #897
@Rydori Thanks for an issue.

@Rydori @gabelerner I can take it soon

[2020-02-24 08:11] dangreen commented on #908
@tomsoderlund Thanks for an issue.

@tomsoderlund @gabelerner I can take it soon

[2020-02-24 08:12] dangreen commented on #941
@ygra Thanks for an issue.

@ygra @gabelerner I can take it soon

[2020-02-24 08:14] dangreen commented on #946
@gabelerner I can take it soon

[2020-02-24 08:14] dangreen commented on #945
@Baxom Thanks for an issue.

@Baxom @gabelerner I can take it soon

[2020-02-24 16:00] gabelerner commented on #741
Yes! Should be fixed

[2020-02-24 16:00] #741 closed

[2020-02-24 16:03] gabelerner commented on #908
@tomsoderlund let us know if that worked for you.

@dangreen should we add this to roadmap or mark it as won't do - I really only want to implement basic css with this project, don't want it becoming both svg and css. What are your thoughts?

[2020-03-20 15:07] thitemple commented on #946
hey there, do you have any idea when this will be out? if not, could you point to me where to work on it?

[2020-03-20 15:09] dangreen commented on #946
@thitemple Sorry, will look it tomorrow.

[2020-03-22 05:37] dangreen commented on #948
@Belisarith Hi! Can you give use case for this?

[2020-03-22 13:35] MUmer01 opened #977 "Canvas is not rendering nested svg which are rotated"
I have this SVG:

[svg.txt](https://github.com/canvg/canvg/files/4365300/svg.txt)

That is not rendering the nested SVGs properly.
![image](https://user-images.githubusercontent.com/38096900/77250714-8a8cb880-6c6b-11ea-893a-2e3da83c9d5a.png)

[2020-03-23 11:33] dangreen opened #985 "Project management"
@gabelerner How about to try github's project management?

https://github.com/features/project-management/

Can you create "Development" project with template "Automated kanban with reviews"?

[2020-03-23 12:42] dangreen commented on #908
@gabelerner @tomsoderlund Here problem is canvg doesn't support `@import`. I can make fix to just ignore this statement. And I think we shouldn't implement full `@import` support. Maybe yet.

[2020-03-23 17:35] gabelerner commented on #977
simplified example:
[code]

removing the `transform="rotate(180 0 0)"` makes them equal. @dangreen - I don't have time to fix things yet but I can review!

[2020-03-24 18:04] dangreen commented on #747
@kevinlo Hi! Before release you can test fix on demo page: https://canvg.github.io/canvg/demo/index.html?url=../svgs/issue747.svg

[2020-03-24 18:05] dangreen commented on #897
@Rydori  Hi! Before release you can test fix on demo page: https://canvg.github.io/canvg/demo/index.html?url=../svgs/issue897a.svg

[2020-03-24 18:14] dangreen commented on #908
@tomsoderlund Hi! Before release you can test fix on demo page: https://canvg.github.io/canvg/demo/index.html?url=../svgs/issue908.svg

[2020-03-24 18:15] dangreen commented on #941
@ygra Hi! Before release you can test fix on demo page: https://canvg.github.io/canvg/demo/index.html?url=../svgs/issue941.svg

[2020-03-24 18:16] dangreen commented on #945
@Baxom Hi! Before release you can test fix on demo page: https://canvg.github.io/canvg/demo/index.html?url=../svgs/issue945.svg

[2020-03-24 18:16] dangreen commented on #946
@thitemple Hi! Before release you can test fix on demo page: https://canvg.github.io/canvg/demo/index.html?url=../svgs/issue946.svg

[2020-03-24 19:29] dangreen commented on #946
@thitemple canvg@3.0.6 was released

[2020-03-24 19:30] dangreen commented on #945
@Baxom canvg@3.0.6 was released

[2020-03-24 19:30] dangreen commented on #944
@Belisarith  canvg@3.0.6 was released

[2020-03-24 19:30] dangreen commented on #941
@ygra  canvg@3.0.6 was released

[2020-03-24 19:30] dangreen commented on #908
@tomsoderlund  canvg@3.0.6 was released

[2020-03-24 19:31] dangreen commented on #897
@Rydori  canvg@3.0.6 was released

[2020-03-24 19:31] dangreen commented on #747
@kevinlo  canvg@3.0.6 was released

[2020-03-24 19:58] kevinlo commented on #747
@dangreen I test it on the demo page, it is fixed.  Thanks!

The current solution does not render it.  Do you know when the feOffset will be supported?

[2020-03-24 20:22] Baxom commented on #945
Hello,

I've updated my version and tested it, and it works wonderfully.

A big thanks to  you !

I close de issue !

[2020-03-24 20:22] #945 closed

[2020-03-25 03:57] gabelerner commented on #985
@dangreen done and invited you to org. hopefully that works

[2020-03-25 04:53] dangreen commented on #985
@gabelerner better to create project on repo, not on organisation

[2020-03-25 05:04] gabelerner commented on #985
yea you're right, i just didn't see where to do it at first. now it should be there @dangreen

[2020-03-25 05:13] #985 closed

[2020-03-25 07:49] tomsoderlund commented on #908
@dangreen Awesome, thank you! Close this?

[2020-03-25 08:07] #908 closed

[2020-03-25 17:38] #747 closed

[2020-03-26 19:01] thitemple commented on #946
it works!! thanks

[2020-03-26 19:01] #946 closed

[2020-03-27 07:51] tjohannto opened #1001 "svg pie not rendered properly in v3.0.4 - 3.0.6"
I have an issue with a pie-svg which is not rendered properly after v3.0.2

I have created an fiddle showing the error:

https://jsfiddle.net/gothmogg/hgkescuf/

![image](https://user-images.githubusercontent.com/45257386/77733868-dfcc1f80-7007-11ea-9bcc-c1c4c394d5c5.png)

This error appears on Firefox as well as on chrome on 3 different machines (but all Win 10 64bit).
v3.0.2 does work fine but a

[2020-04-02 12:21] ibrahimrajabli-studio8 opened #1011 "HTML file not read font family"
your share html file with script tags not render font family from file

<script type="text/javascript" src="https://unpkg.com/canvg@3.0.4/lib/umd.js"></script>

<script type="text/javascript">

    window.onload = () => {
        const canvas = document.querySelector('canvas');
        const ctx = canvas.getContext('2d');
        const svg = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.or

[2020-04-03 04:46] gabelerner commented on #1011
can you submit a jsfiddle or codepen with your issue showing it works as an svg (w/o canvg)?

[2020-04-23 06:38] beninsocrata opened #1032 "Filter that merges color matrix and offset fails to draw image"
Example: https://jsfiddle.net/nsocz10u/

This chart has a number of flag images that are translated by way of a parent group element. The chart has a filter that makes a gray mask and offsets it to create a drop shadow effect for each flag. canvg renders only the drop shadow currently.

Here is the filter:
[code]

and it is used like this
[code]

Removing the filter results in the image rendering

[2020-04-24 06:38] beninsocrata commented on #1032
After some sleep, I see the following in the console log. Does that make this a feature request? :)
[code]

[2020-04-24 20:46] #944 closed

[2020-04-24 20:46] #897 closed

[2020-04-24 20:47] #941 closed

[2020-04-26 10:02] wangyanqi-hunch opened #1034 "this.DOMParser is not a constructor"
worker
offscreen

[2020-04-26 10:03] dangreen commented on #1034
@wangyanqi-hunch Hi. Please provide code example.

[2020-04-26 10:11] wangyanqi-hunch commented on #1034
index.js:

  var worker = new Worker();
      const canvas = this.$refs.canvas;
      const offscreen = this.$refs.canvas.transferControlToOffscreen();
      worker.postMessage(
        {
          svg: svgDom,
          canvas: offscreen
        },
        [offscreen]
      );
      worker.onmessage = function(event) {
        console.log("111", event);
        worker.terminate();
      };
    },

[2020-04-26 10:11] #1034 closed

[2020-04-28 19:05] gabelerner commented on #1032
yea it would be a feature request. i don't have an ETA of when we will get to it but we are taking pull requests and will review/merge if you want to try implementing yourself!

[2020-05-11 08:55] weiliang0121 opened #1045 "Canvas does not render nested svg with overflow attribute"
I hava this SVG:
[code]
That is not rendering the nested SVGs properly.
![image](https://user-images.githubusercontent.com/32809057/81542525-5d28d500-93a7-11ea-9a7d-defaa2f45bb4.png)
I found that the y-axis on the left is not rendered correctly. I suspect that the nested svg has the overflow attribute set
[code]

Is there anything that can be done for that?

[2020-05-12 03:43] ajaykamal opened #1047 "Compilation error for canvg module"
I've installed the canvg module and when I try to compile the application. It's giving below error :
What am I doing wrong here.I've pasted the versions after the log.

ERROR in node_modules/canvg/lib/BoundingBox.d.ts(7,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/canvg/lib/BoundingBox.d.ts(8,9): error TS1086: An accessor cannot be declared in an ambient con

[2020-05-12 04:09] dangreen commented on #1047
@ajaykamal Hi. Thank you for the issue report. Canvg is using [typescript@3](https://github.com/canvg/canvg/blob/master/package.json#L104), try to upgrade your typescript version.

[2020-05-12 12:59] exodussystem commented on #673
Any update on this issue? I have page with lot of icons rendered from 'href'ed SVGs.
Thanks alot

[2020-05-13 07:50] Swordword commented on #738
I am trying to render multiple svg's by  document.createElement('canvas') , and it doesn't work

[2020-05-13 07:50] Swordword commented on #738
[link](https://jsfiddle.net/zhangjianyu/breLqnta/6/)

[2020-05-14 06:43] Pauan commented on #1047
@dangreen Even with TypeScript 3 the error still happens. Here are the steps to reproduce:

1. Run `npx @angular/cli@^8 new angular-canvg`
2. Run `cd angular-canvg`
3. Run `npm install --save-dev canvg`
4. Edit the `src/app/app.component.ts` file and add the following code:
[code]
5. Run `npm run build`

The reason why this is happening is because TypeScript 3.7 [has a breaking change](https://www

[2020-05-14 19:30] gretchenfitze opened #1063 "Opacity of <symbol> element within <use>"
Hello,

I use `symbol` to reuse some icons on a big SVG image with `use` tag. Some instances of these icons are visually hidden with `opacity: 0` property on their parent elements.

When exporting the whole image to canvas, transparency is not applied to these icons (parent elements are transparent, only icons remain visible on the canvas).

A simple example to reproduce.
I found that replacing `s

[2020-05-15 06:53] gabelerner commented on #738
[code]
works just fine from your example to render multiple svgs. if you have a problem w/ a specific SVG, please open another issue.

[2020-05-15 06:53] #738 closed

[2020-05-16 08:24] nsharrok opened #1065 "Canvas not rendering pattern correctly"
barber's pole renders on SVG but not so good with canvag

[code]

[2020-05-16 23:04] nsharrok commented on #1065
![image](https://user-images.githubusercontent.com/2236878/82131879-4ce87e00-981d-11ea-80ac-5f96abcdda1b.png)

[2020-05-16 23:14] nsharrok commented on #1065
![image](https://user-images.githubusercontent.com/2236878/82132037-cdf44500-981e-11ea-9ffc-16dc1d5fb4c2.png)

[2020-05-16 23:30] nsharrok commented on #1065
I've managed to simplify the svg
[code]

[2020-05-16 23:31] nsharrok commented on #1065
![image](https://user-images.githubusercontent.com/2236878/82132258-304e4500-9821-11ea-8286-07db1a3c9b24.png)

[2020-05-17 05:46] nsharrok commented on #1065
Is there a workaround to create a barbers pole in SVG via canvg?

[2020-05-17 15:55] #1063 closed

[2020-05-18 06:17] gabelerner commented on #1045
adding notes: this is a simplified example, removing `overflow: visible;` solves it.

[code]

[2020-05-18 06:49] gabelerner commented on #1065
notes: so `rotate(90)` and `rotate(180)` work but `rotate(30)` doesn't (yet?) because we make a pattern tile then pass it to https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/createPattern with `repeat`. this rotates the line but doesn't tile properly as it doesn't rotate the whole pattern. on the other hand, the `svg` adds it as a transform on the whole pattern after the f

[2020-05-18 07:00] #1045 closed

[2020-05-19 06:14] gabelerner commented on #1065
i did some more searching, theoretically one can use https://developer.mozilla.org/en-US/docs/Web/API/CanvasPattern/setTransform to implement this on the browser (i don't think it's available in node). open to PRs on this issue!

[2020-05-20 22:24] tomekole commented on #1065
I can see similar issue also with patternTransform.

`<pattern x="0" y="0" width="5" height="5" patternUnits="userSpaceOnUse" patternTransform="matrix(0.7071067811865476,0.7071067811865475,-0.7071067811865475,0.7071067811865476,0,0)" id="SvgjsPattern1011"><rect width="5" height="5" fill="#ffffff"></rect><rect width="1.2" height="6" fill="#000000"></rect></pattern>`

[2020-06-07 07:51] apeter10 commented on #1047
There's a working example, but its typescript is 3.1.1
https://stackblitz.com/edit/angular-canvg-eg

[2020-06-15 16:56] tm93112 opened #1111 "Unable to darken an image using a matrix with negative values via feColorMatrix"
Using the following svg as an example, you can see that the image is not rendered darker.
[code]
![darker](https://user-images.githubusercontent.com/19276230/84684775-00f92980-aeee-11ea-9433-b6a87687a69b.PNG)

It appears the ternary in this function is the reason:
[code]

If this is changed to
[code]
then the darkness is applied appropriately.

Perhaps there's a reason for this ternary that I'm no

[2020-06-20 05:53] gabelerner commented on #1111
This seems valid. We can open a PR around this at some point but also are accepting PRs if somebody has the time to make one here.

[2020-06-22 04:04] tm93112 commented on #1111
Opened https://github.com/canvg/canvg/pull/1117 to address this

[2020-06-23 07:52] 154305 opened #1124 "svg 不能完全解析成canvas，如图所示上面一个转成下面的canvas"
![image](https://user-images.githubusercontent.com/38000719/85375780-604bdf00-b569-11ea-9653-eb6b277258dd.png)

[2020-06-24 02:27] gabelerner commented on #1124
Can you paste your svg as a string and not as an image?

[2020-06-24 02:27] #1124 closed

[2020-06-25 17:40] beninsocrata commented on #673
This is curious. It's working for me, generally, however in troubleshooting some odd placement error, I am having trouble detting my base64 pngs to render into the canvas. :( Tagging here to follow up.

[2020-06-30 02:07] benbro opened #1126 "Uncaught TypeError: i.getBoundingBox is not a function"
https://tobireif.com/demos/bubbles/bubbles.svg

[2020-07-03 06:19] Viliasas opened #1133 "Add warning to OffscreenCanvas example"
Hello,

I've been using OffscreenCanvas with canvg while developing on Chrome and didn't consider that it could be not fully supported by all major browsers... It would be good to add a warning to OffscreenCanvas example that it's not supported on Safari and Firefox (https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas#Browser_compatibility).

[2020-07-04 01:19] gabelerner commented on #1133
i do not believe it's on us to add a warning for several reasons:
- there's no clarity as to when we remove the warning (what does "major" mean?) and how we would keep it in sync with browser development.
- as a developer you have choice of canvas or offscreen and should make the appropriate tradeoffs yourself based on who your users will be and what you are targeting.
- as far as i remember, we d

[2020-07-09 05:16] gabelerner commented on #1126
[source.svg.zip](https://github.com/canvg/canvg/files/4894678/source.svg.zip)

[2020-07-09 05:27] gabelerner commented on #673
No updates - anybody can come in and implement this in a PR with proper tests and we will gladly review/merge it!

[2020-07-11 13:53] benbro commented on #301
Maybe this project can help. It wraps the path2d object and adds method like [getPointAtLength](https://github.com/bedekelly/canvaspaths/blob/master/path.js#L93)
https://blog.bede.io/html5-canvas-line-following/
https://github.com/bedekelly/canvaspaths
https://github.com/bedekelly/metrojs/tree/master/js/canvaspaths

[2020-07-23 15:35] oronevron opened #1147 "SVG filter not rendered on the canvas"
The following SVG, for example, contains `<filter>` tag. As you can see, the SVG renders the filter normally, but the canvas doesn't render the filter:

![image](https://user-images.githubusercontent.com/21294378/88304745-5278ad80-cd11-11ea-99d1-e7239ffd1994.png)

I'm using canvg 3.0.6.
The SVG:

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" preserveAspectRatio="xMidYMid meet" st

[2020-07-25 21:09] gabelerner commented on #1147
grouping into https://github.com/canvg/canvg/issues/667 for somebody to open a PR w/ tests

[2020-07-27 05:45] #1126 closed

[2020-07-29 14:43] RedstoneRider opened #1161 "dy attribute does not work on texts with textPaths"
When a text goes along a path the dy attributes seems to be ignored. dx seems to work fine. this issue only occurs with textPath elements, normal text elements don't have this issue.

[code]

![image](https://user-images.githubusercontent.com/18056840/88814296-2ef2ae80-d1ba-11ea-925a-0a888c923a8d.png)

[2020-07-30 06:41] gabelerner commented on #1161
looks like a valid issue and probably an easy enough fix. text path is its own code branch right now so we just have to make it use dx/dy also.

anybody reading this: feel free to submit a PR and use this svg as a test!

[2020-08-06 10:55] dependabot-preview[bot] opened #1174 "Dependabot couldn't authenticate with registry.npmjs.org"
Dependabot couldn't authenticate with registry.npmjs.org.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/canvg) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/canvg/update-logs/42757892).

[2020-08-07 09:35] #1174 closed

[2020-08-12 09:46] alexmnv opened #1176 "Fonts not rendered correctly in create-react-app project"
Fonts not rendered correctly in create-react-app project.
Here's a simplified demo without any libraries, including react itself:

https://codesandbox.io/s/dreamy-dijkstra-e2p3o?file=/src/index.js

Not sure what causes the problem, but the same example works correctly in vanilla js.

[2020-08-14 03:41] AlkaBeniwal opened #1177 "svg not rendered properly, when scroll bar is present"
I have the following SVG which renders properly on canvg:

`<svg width="100%" height="100%" style="position: absolute; left: 0px; top: 0px; padding: inherit;"><defs><mask id="mask16"><rect x="0" y="0" width="75" height="91" fill="url(#Gr5)" style="cursor: pointer;"></rect></mask><linearGradient id="Gr5" x1="0%" y1="100%" x2="0%" y2="0%"><stop offset="0%" stop-color="#FFFFFF" stop-opacity="0"></sto

[2020-08-15 17:09] gabelerner commented on #1177
blurriness is native to canvas, you can look into:
https://coderwall.com/p/vmkk6a/how-to-make-the-canvas-not-look-like-crap-on-retina
https://stackoverflow.com/questions/15661339/how-do-i-fix-blurry-text-in-my-html5-canvas
https://medium.com/wdstack/fixing-html5-2d-canvas-blur-8ebe27db07da
etc.

using our library you can solve this by drawing bigger than you need then using the following options t

[2020-08-16 16:02] AlkaBeniwal commented on #1177
Thanks @gabelerner.As I mentioned above,Scaling is being done already with the above suggested methods and it works fine always, canvas is not blurry at all.When there is scroll bar in the svg, it gets blurred.
I have posted both svg xml as well.

[2020-08-16 16:11] gabelerner commented on #1177
We don't know anything about the rest of the page so canvg will not know if there's a scroll bar or not. Maybe try setting a static width/height (not 100%) and getting rid of the position absolute/top 0/left 0. Instead, put a wrapping div around the svg/canvas and set the styles on that?

[2020-08-16 16:22] AlkaBeniwal commented on #1177
Thanks @gabelerner,I will try that as well.FYI, when I apply <mask> layer to a <g> path group, it happens.

[2020-08-16 16:23] gabelerner commented on #1177
I'll reopen, can you replicate in a jsfiddle or codepen for me? Show me how it's blurry in one place but not another?

[2020-08-17 08:30] AlkaBeniwal commented on #1177
scaling is applied to both using same method.

svg without mask layer-Not blurry
https://jsfiddle.net/Alkab/29L8gzhn/10/

svg with mask layer to a "g" path group-**Blurry canvas**
https://jsfiddle.net/Alkab/29L8gzhn/12/

[2020-08-18 13:41] AlkaBeniwal commented on #1177
Are there any workarounds for this?

[2020-08-19 04:54] gabelerner commented on #1177
i don't know why you were saying scroll bar, the issue is due to you having a mask on the 2nd svg, which is different from the first.

[code]

this replicates it. removing the `mask="url(#mask157)"` from the group is crisp again.

that's your work around, to remove the mask. otherwise feel free to submit a PR or wait for somebody to submit one.

[2020-08-19 16:48] AlkaBeniwal commented on #1177
Thanks @gabelerner for confirming it.I am afraid, removal of mask will not work in my case as it is really required.
I believe workaround should be somewhere when temporary canvas is being created and not scaled up while handling mask.

[2020-08-20 02:14] gabelerner commented on #1177
Yes, it's a valid issue and the fix probably involves the temporary canvas like you said. Hopefully somebody can get to it!

[2020-08-20 02:19] gabelerner commented on #1176
for what it's worth i can confirm it's valid. i'm unsure if it's canvg as our test page also renders the font properly and it seems like something is overriding the font somewhere but maybe w/ more time somebody else can dig in a little deeper

[2020-09-09 07:22] tianwang8090 opened #1189 "dependence on core-js@3 cause Promise.prototype.finally undefined in Edge(v17)"
https://github.com/zloirock/core-js#babelpreset-env

[2020-09-29 14:08] christina-ng commented on #1189
I'm getting something similar: `-private.js:4121 Uncaught TypeError: promise.finally is not a function` just trying to `import Canvg from 'canvg'`.

[2020-10-01 17:41] StephenHogsten opened #1196 "Path is not rendered correctly"
The following svg (validated at w3.org) does not render correctly in canvg.  Contains only paths, no special gradients or text.
[code]

![image](https://user-images.githubusercontent.com/29378267/94844020-707a2280-03d2-11eb-9a34-b5d30dc90b43.png)

[2020-10-02 05:02] gabelerner commented on #1196
more minimal example - if i had to guess it's the `zm` that we're closing the path halfway and reopening it again. 10 years ago when i first implemented this i probably assumed paths always close at the end or something.
[code]

[2020-10-06 15:35] dangreen commented on #1189
@tianwang8090 @christina-ng Hi! Can you provide more detailed test case?

[2020-10-06 21:30] machadogj commented on #458
Looks like converting png/jpg to data url may result in loss of quality (?). I get the following error message when using an <image> with source to a png:

[code]

Is there anything we can do?

[2020-10-06 21:48] gabelerner commented on #458
closing as we support images: http://canvg.github.io/canvg/demo/index.html?svg=../svgs/32.svg ... please provide more details and reopen.

[2020-10-06 21:48] #458 closed

[2020-10-06 22:01] machadogj commented on #458
Hi @gabelerner, thanks for the update. I have tested my svg with the link you provided and it works. So this seems to be a bug in `svg2img`.

[2020-10-07 07:24] christina-ng commented on #1189
My problem was TypeScript. I had to use an older version of canvg.

[2020-10-14 21:28] gregoiresage opened #1229 "Wrong generation for svg with embedded fonts"
Hi, I'm trying to generate an image from a svg containing an embbeded font but the font is not read correctly from the svg

Please see the example below
https://jsfiddle.net/87vmxcpg/

If I uncomment the first svg in the example, the font is loaded by the browser and canvg manages to generate the correct image.

My plan is to generate png images in a nodejs app so I don't know how to solve this pr

[2020-10-14 21:33] gregoiresage commented on #1229
In the canvg demo I have the same problem
![image](https://user-images.githubusercontent.com/4145305/96047592-a9f06a80-0e75-11eb-8788-ec1dbbe6a95a.png)

[2020-10-14 21:38] gabelerner commented on #1229
https://github.com/canvg/canvg/issues/673 currently not implemented

[2020-10-17 06:23] dangreen commented on #1133
Released in [v3.0.7](https://github.com/canvg/canvg/releases/tag/v3.0.7)

[2020-10-17 06:23] #1133 closed

[2020-10-17 06:24] dangreen commented on #1001
Fixed in [v3.0.7](https://github.com/canvg/canvg/releases/tag/v3.0.7)

[2020-10-17 06:24] #1001 closed

[2020-10-17 06:25] dangreen commented on #977
Fixed in [v3.0.7](https://github.com/canvg/canvg/releases/tag/v3.0.7)

[2020-10-17 06:25] #977 closed

[2020-10-17 06:27] dangreen commented on #1196
Fixed in [v3.0.7](https://github.com/canvg/canvg/releases/tag/v3.0.7)

[2020-10-17 06:27] #1196 closed

[2020-10-17 06:27] dangreen commented on #1111
Fixed in [v3.0.7](https://github.com/canvg/canvg/releases/tag/v3.0.7)

[2020-10-17 06:27] #1111 closed

[2020-10-17 06:28] dangreen commented on #1161
Fixed in [v3.0.7](https://github.com/canvg/canvg/releases/tag/v3.0.7)

[2020-10-17 06:28] #1161 closed

[2020-10-17 06:36] dangreen commented on #732
@gabelerner Fix was merged. Can we close this issue?

[2020-10-17 06:38] dangreen commented on #719
@gabelerner outdated issue

<img width="1080" alt="Снимок экрана 2020-10-17 в 13 37 34" src="https://user-images.githubusercontent.com/986756/96330229-ebebfd00-107d-11eb-9500-348762022f2d.png">

[2020-10-17 06:40] dangreen commented on #724
@gabelerner

<img width="1058" alt="Снимок экрана 2020-10-17 в 13 40 16" src="https://user-images.githubusercontent.com/986756/96330284-4d13d080-107e-11eb-9374-47e7f0ed0c31.png">

[2020-10-17 06:47] gabelerner commented on #732
yup!

[2020-10-17 06:47] #732 closed

[2020-10-17 06:49] gabelerner commented on #719
agreed! closing this. we can also bisect to find the exact PR that fixed at some point if we want a good history.

[2020-10-17 06:49] #719 closed

[2020-10-17 06:50] gabelerner commented on #724
looks like it's been fixed

[2020-10-17 06:50] #724 closed

[2020-10-17 06:57] dangreen commented on #719
Maybe it was https://github.com/canvg/canvg/pull/784

[2020-10-17 07:07] dangreen commented on #727
@gabelerner

v2 also renders it correctly

<img width="1095" alt="Снимок экрана 2020-10-17 в 14 06 30" src="https://user-images.githubusercontent.com/986756/96330754-01632600-1082-11eb-82cc-6eb78e5a18df.png">

[2020-10-17 07:11] dangreen commented on #708
@ChorHizzle Hi!

1) Is it still relevant problem for canvg v3 ?
2) If yes, can you provide svg example for reproduce problem?

[2020-10-17 07:11] dangreen commented on #726
@almercier Hi!

Is it still relevant problem for canvg v3?

[2020-10-17 07:13] dangreen commented on #713
@gabelerner

<img width="1050" alt="Снимок экрана 2020-10-17 в 14 13 04" src="https://user-images.githubusercontent.com/986756/96330841-e0e79b80-1082-11eb-90f9-54286df96fcb.png">

😀

[2020-10-17 07:16] dangreen commented on #696
@gabelerner

<img width="1049" alt="Снимок экрана 2020-10-17 в 14 15 07" src="https://user-images.githubusercontent.com/986756/96330865-2ad08180-1083-11eb-820a-d6435bbb10aa.png">
<img width="1054" alt="Снимок экрана 2020-10-17 в 14 15 28" src="https://user-images.githubusercontent.com/986756/96330873-37ed7080-1083-11eb-8bb2-1c947f3c2129.png">
<img width="1046" alt="Снимок экрана 2020-10-17 в 14 15

[2020-10-17 07:17] dangreen commented on #693
@gabelerner Is it still relevant for canvg v3?

[2020-10-17 07:19] dangreen commented on #690
@gabelerner

https://github.com/canvg/canvg/pull/691#issuecomment-549070927

[2020-10-17 07:21] dangreen commented on #654
@gabelerner I think we can close it

[2020-10-17 07:23] dangreen commented on #640
@gabelerner Doesn't relevant for canvg v3.

[2020-10-17 07:39] dangreen commented on #405
@gabelerner Is it relevant problem for v3?

For example, now we have `render` method:

https://github.com/canvg/canvg/blob/master/src/Canvg.ts#L154

[2020-10-17 15:57] gabelerner commented on #713
yup seems fixed! blank==blank

[2020-10-17 15:57] #713 closed

[2020-10-17 16:07] gabelerner commented on #693
@dangreen i think there are still issues here:

1) when `width`/`height` are set on `<svg ...>` tag, the `scaleX`/`scaleY` options have no effect. i don't know if this is desired or not
[code]

2) if you remove the `width`/`height` from the `<svg .../>` tag, it renders correctly UNTIL you hover your mouse over it and then snaps back.
[code]

We can also think more strongly about what we expect fro

[2020-10-17 16:09] gabelerner commented on #690
will close! the PR made it into 3.0 so this never auto closed.

[2020-10-17 16:09] #690 closed

[2020-10-17 16:10] gabelerner commented on #640
@dangreen has done a fantastic job revamping our tests for v3 where we have 3 sets of test that always work now. closing!

[2020-10-17 16:10] #640 closed

[2020-10-17 16:24] gabelerner commented on #405
the main problem originally was that image loading was part of the animation/mouse loop:
https://github.com/canvg/canvg/blob/22ad6475894f316c76cc2d15a1e768829428106a/docs/demo/v2/canvg.js#L3962-L3965

this still seems to be the case that `Screen` has waits for images loaded.
so the `raf` that calls `shouldUpdate` that calls `isReady()` should be investigated for optimization.

the idea would be to

[2020-10-17 18:43] gabelerner commented on #654
agreed. our targets are well defined today and people can open PRs if they want different support.

[2020-10-17 18:43] #654 closed

[2020-10-17 18:45] gabelerner commented on #696
it's still not 1 to 1 perfect but it's closer than original issue which was way off. we can close due to the algorithms for colors being opinionated.

[2020-10-17 18:45] #696 closed

[2020-10-17 18:48] gabelerner commented on #727
yea seems fixed

[2020-10-17 18:48] #727 closed

[2020-10-19 08:49] tjohannto opened #1248 "scaleWidth and scaleHeight broken in v3.0.7?"
Hi there,
I just updated from 3.0.2 to 3.0.7 and scaleHeight as well as scaleWidth  does not work like expected.

The canvas produced is bigger but the graphics are not adjusted.

Fiddle showing the problem:
https://jsfiddle.net/6fkpyzLm/

Am I doing s.th. wrong although it worked in 3.0.2 like this or is this a bug?

[2020-10-19 14:47] SmythConor commented on #713
Just as a matter of interest, which merge fixed this?

[2020-10-19 14:56] dangreen commented on #713
@SmythConor https://github.com/canvg/canvg/commit/7e0178901de58c95880961cab72a123f769604b0#diff-5828068395ce2da80ec845eeab2f5ad14f910caaa2c1cb6d5e8fd5f48ba6b898

[2020-10-21 06:11] deepkolos commented on #728
have same problem that text-anchor: middle doesn't work

![image](https://user-images.githubusercontent.com/12824616/96679936-2b308b80-13a7-11eb-815c-6033793de3ed.png)

[2020-10-23 19:41] tiberiumihai opened #1253 "Remove polyfills?"
Hello,

I'm using lib with angular and angular-cli >=v8.0.0 auto-handles the core-js polyfills imports.

Is there any canvg bundle without them?

My angular app bundle size was grown by >164 KB because of this issue.
![image](https://user-images.githubusercontent.com/12754525/97047238-51aa1e80-1581-11eb-9790-48c2a81d9f07.png)

There are also warnings thrown by the angular cli:
[code]

Thanks!

[2020-10-23 19:48] dangreen commented on #1253
@tiberiumihai Hi.

You can modify your webpack config to handle [index.babel.js](https://unpkg.com/browse/canvg@3.0.7/lib/index.babel.js) bundle following some steps from [this](https://github.com/TrigenSoftware/bdsl-webpack-plugin/tree/master/examples/transpile-dependencies) instruction.

[2020-10-23 20:49] tiberiumihai commented on #1253
I think I'll pass. I don't want to extract ng webpack config. It would make ng upgrades complicated later on.
The project uses jspdf which have an optionalDependency of canvg and gets installed automatically.
I'll close this one and open an issue there.
Thanks!

[2020-10-23 20:49] #1253 closed

[2020-10-29 15:15] istoan opened #1259 "SVG not rendering (resulting a black square)"
I have an SVG exported from Adobe Animate CC and the code looks like this:
`<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px">
 <defs>
<g id="FL_1_0_Layer0_0_FILL">
<path fill="#D82323" stroke="none" d=" M 0 200 L 200 200 200 0 0 0 0 200 Z" style="fill: 14164771"/>
</g>

<g id="FL_2_0_Layer0_0_FILL">
<path fill="#FFB0B0" stroke="none" d

[2020-11-19 23:46] luisvillegaslago opened #1274 "Not respecting Text with dx"
When trying to render a text with dx, it doesn't respect the text spacing.

I have created a fiddle showing it:

https://jsfiddle.net/fdx5b89s/

Fixing this would be much appreciated

[2020-11-23 15:14] DjovDev commented on #1065
Hi! Any advance on this feature? Or has somebody already found a viable workaround to draw something outside the 90 degree bounds?

[2020-12-08 12:36] bperel opened #1286 "ReferenceError: document is not defined"
Hello,

When trying to render an SVG with an image and a rectangle as shown below, I get the following error :
`Error while loading image "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAfSURBVBhXY/iPCnDwOTk5mZiYEHwgh4EBxEZV//8/AEZCPunvSPG3AAAAAElFTkSuQmCC": ReferenceError: document is not defined`

The PNG ge

[2020-12-08 16:38] gabelerner commented on #1286
The svg here and in the thread work on browser:

http://canvg.github.io/canvg/demo/index.html
![image](https://user-images.githubusercontent.com/241819/101511125-6d019b00-392f-11eb-9ec9-c49a98820293.png)
![image](https://user-images.githubusercontent.com/241819/101512200-a89c6500-392f-11eb-9c56-ef94b0875453.png)

it seems like the original issue is referencing:
[code]

we aren't using `document` o

[2020-12-08 19:34] bperel commented on #1286
Thank you for your detailed response @gabelerner , you are right that the issue seems to be on svg2img's side.

[2020-12-08 19:34] #1286 closed

[2020-12-09 19:47] devnaumov opened #1287 "Extra grey border"
When I try to save this svg, extra border appears, where does it come from?
Svg output  looks fine.
Thanks for help.

`<svg width="570" height="234" xmlns:xlink="http://www.w3.org/1999/xlink" joint-selector="svg" id="v-12" version="1.1" viewBox="73.5 57 570 234" xmlns="http://www.w3.org/2000/svg" style="background-color: white;"><defs></defs><defs joint-selector="defs"><marker id="v-12302052228" o

[2020-12-11 11:37] #1287 closed

[2020-12-11 14:46] devnaumov commented on #1287
The problem was in <circle> elements

[2020-12-18 14:01] a-y-u-s-h commented on #595
Bumping this up for a solution.

[2020-12-23 10:18] dottodot opened #1296 "Text not rendering correctly"
Hello I having issues trying to get text to render correctly, not sure if it's a limitation of this library or if I'm do something wrong. The problem is that the font is not applied, the position is wrong and the filters and patterns are also not applied.

The is the svg I'm passing in

https://boxxer-images.ams3.digitaloceanspaces.com/uploads/custom-designs/1608717451019/5fe2021f2ebf8a14b83e5e1a.

[2020-12-23 17:18] gabelerner commented on #1296
The full SVG almost works in the browser:
![image](https://user-images.githubusercontent.com/241819/103021402-ef2cba80-44fe-11eb-81a9-3355a348d752.png)

Mostly the font is broken, I bet if you wait a little on the node side the flag would load since it's asynchronous.

this is just the font "MARCUS"
[code]

it looks like:
![image](https://user-images.githubusercontent.com/241819/103021752-8abe2b00

[2021-01-11 14:07] pustovalov opened #1300 "core-js duplication"
Hey,

During migration of jspdf `1.5.3` -> `2.2.0` which using `canvg`

`jspdf:1.5.3` using `canvg:1.5.3`
![image](https://user-images.githubusercontent.com/1568885/104191870-c1b09e00-5426-11eb-8227-9bfba7ccf8ad.png)

`jspdf:2.2.0` using `canvg:3.0.7`
![image](https://user-images.githubusercontent.com/1568885/104191882-c4ab8e80-5426-11eb-87ad-28f5b0a08e5e.png)

`jspdf` began to add to the bundle o

[2021-01-11 14:23] AdrienNguyenWorldline opened #1301 "SCRIPT1002 Syntax Error, SecurityError IE11"
I am using Amcharts4 on an emberJs app which seems to be using canvg for image export.

I am getting a Syntax error with a stack saying "Error: Loading chunk 0471 failed."
As everything is minified I don't have a line number.

It may be related to app specific things as the amcharts demo is working properly but not on my app.
Everything is okay on Edge or Chrome, but not on IE11.

Can u help me fi

[2021-01-11 17:07] gabelerner commented on #1300
@dangreen do people ever just peer dependency this?

[2021-01-11 17:26] dangreen commented on #1300
We use [@babel/plugin-transform-runtime](https://babeljs.io/docs/en/babel-plugin-transform-runtime)

[2021-01-11 19:22] pustovalov commented on #1300
Let's check just `canvg` usage

`import Canvg from 'canvg'`
https://github.com/pustovalov/jspdf-corejs-demo/blob/canvg/src/components/App.svelte

1.5.3
![image](https://user-images.githubusercontent.com/1568885/104227500-29301300-5452-11eb-94ea-4db66a0f2cd7.png)

3.0.7
![image](https://user-images.githubusercontent.com/1568885/104227521-32b97b00-5452-11eb-92d1-45880fc447c3.png)

this is how I'm us

[2021-01-11 19:50] dangreen commented on #1300
@gabelerner In theory we can remove polyfills (core-js) from our side at all, and shift responsibility to users.

@pustovalov For now you can edit your babel config to use @babel/plugin-transform-runtime too.

[2021-01-11 20:11] pustovalov commented on #1300
Looks like I can't use `@babel/preset-env | useBuiltIns` and `@babel/plugin-transform-runtime` together:

https://github.com/babel/babel/issues/10271#issuecomment-528379505

[2021-01-13 08:50] Undo101 opened #1302 "Import canvg fail"
After I installed and import Canvg into my program, I got an ESLint-related error on the console. It looks like the dependencies in the plugin haven't been installed caused. How can I fix this, thank you
![image](https://user-images.githubusercontent.com/26062774/104428321-4cc49c00-55bf-11eb-96be-d73daea9d523.png)

[2021-01-13 08:51] dangreen commented on #1302
@Undo101 Hi. Your eslint config should ignore `node_modules/**/*`.

[2021-01-13 09:41] Undo101 commented on #1302
I did it, but it didn't work. And my packaging tool is rollup.js.

[2021-01-13 09:41] Undo101 commented on #1302
I did it, but it didn't work. And my packaging tool is rollup.js.

[2021-01-13 09:47] Undo101 commented on #1302
I suspect that Canvg uses its own ESLint rules, which have nothing to do with my project rules. Why doesn't Canvg add these dependencies internally？

[2021-01-13 09:52] dangreen commented on #1302
@Undo101

1) this config is located in stackblur-canvas package, not in canvg
2) you should configure your tools to ignore configs from node_modules
3) “ add these dependencies internally”, they are already internally (node_modules)

[2021-01-13 10:21] Undo101 commented on #1302
@dangreen
Thank you for your prompt reply, it should be caused by the wrong packing method, let me take a look。

[2021-01-13 10:21] #1302 closed

[2021-01-15 12:54] atorment-oliver opened #1303 "Problem using canvg function with svg using gradient is not rendering properly"
You can check on the demo

https://canvg.github.io/canvg/demo/index.html

this is de svg code, look at this the difference in the greadient between the canvg output and the svg output

<svg xmlns="http://www.w3.org/2000/svg" class="dxc dxc-chart" style="line-height: normal; overflow: hidden; display: block; -ms-user-select: none; transform: translate(0px, 0px); -webkit-user-select: none; -moz-user

[2021-01-17 12:34] dangreen commented on #1300
@pustovalov I forgot one option. You can configure your bundler to use "pure source" version of canvg bundle

https://unpkg.com/browse/canvg@3.0.7/lib/index.babel.js

https://dev.to/dangreen/speed-up-with-browserslist-30lh#dependencies-transpilation

[2021-01-22 14:21] balazs-karsai-tde opened #1320 "Whitespace after commas in paths disrupts the rendering of paths"
In SVG paths, the x and y coordinates can be separated by commas or spaces. However, if there is a comma followed by a whitespace, that makes canvg render the path incorrectly.

This SVG renders correctly with canvg:
[code]
![correct_svg](https://user-images.githubusercontent.com/76996214/105502018-3dcba100-5cc5-11eb-81b2-7a36f80d56c8.png)

If we make some modifications, adding spaces after the co

[2021-01-29 09:53] inu1255 opened #1330 "resize bug: wrong image size when image xlink:href is a svg"
[code]
![屏幕快照 2021-01-29 下午5 50 25](https://user-images.githubusercontent.com/5772409/106259917-ccf32e80-625a-11eb-9885-8b0a7acada32.png)

[2021-01-31 07:29] d4rksky commented on #270
hi , how can I use rtl mode with canvg ??
I tried test it in canvg examples but the result not supported rtl
this is my svg
[code]
result:
![image](https://user-images.githubusercontent.com/28533048/106377588-4ef66b00-63b3-11eb-971a-a50fe392181c.png)
how can I fixed it?

[2021-02-04 16:05] malcolm-s commented on #669
We've run into this issue trying to generate a PNG for a phylogenetic tree with ~37,000 SVG elements. The code for this is currently closed source but if I get a chance I will put together a JS fiddle of it.

We're considering alternatives for doing this right now, though it would be nice to be able to do it in browser!

[2021-02-04 22:19] bch36 opened #1343 "<switch> element doesn't appear to be handled"
When I attempt to render an SVG with a <switch> in it, anything inside the <switch> doesn't seem to be rendered.

[2021-02-17 22:02] Cristianooo opened #1355 "Angular export to jpg not loaded after Canvg.from"
I followed [this](https://stackblitz.com/edit/angular-canvg-eg?file=src%2Fapp%2Fapp.component.ts) link to implement canvg in angular, but exporting the canvas to dataurl doesn't work because the canvas is not loaded--
[code]

Yet this works-
[code]

But I'd prefer to not work through timeouts and instead have a callback function for when it renders, like you can with the regular canvg() function.

[2021-02-18 07:27] dangreen commented on #1355
Hi. You can use [render](https://canvg.github.io/canvg/classes/_src_canvg_.canvg.html#render) method.

[2021-02-23 11:15] elInfidel opened #1359 "SVG Pattern image rendering abnormalities"
Hey,

I need to render SVG files as images within a pattern, my logic works perfectly for raster files but given identical numbers Canvg seems to break when given an equivalent SVG file. I've put together a sandbox to demonstrate the issue.

https://codesandbox.io/s/elegant-sunset-o0fbu?file=/src/index.js

The sandbox contains three images, the first is the output SVG file as rendered by the brows

[2021-02-24 10:14] csibivili opened #1360 "V3 rendered path element incorrectly"
![image](https://user-images.githubusercontent.com/29578614/108985406-4bdc5b00-7691-11eb-8f51-7fb2904c1bbf.png)

V2 do the job correctly!

the path contains 'M' , 'L' and 'C' parameters

example svg:

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 528 377" height="377" width="528" data-reactroot=""><circle cx="264" cy="188.5" r="186" fill="#f05746" stroke="#f05746" stroke-width="5"></circle>

[2021-02-24 10:15] csibivili commented on #1360
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 528 377" height="377" width="528" data-reactroot=""><circle cx="264" cy="188.5" r="186" fill="#f05746" stroke="#f05746" stroke-width="5"></circle><path stroke="#e9d5cc" stroke-width="5" stroke-linejoin="round" fill="none" d="M  0 188.5 L 5.076923076923077 153.91276541309577 C 5.076923076923077 146.21712714244097, 10.153846153846153 146.217127142

[2021-02-24 22:08] donpark opened #1361 "Support rendering SVG DOM directly"
It would be nice to be able to render SVG DOM element without first converting to HTML.

This can be done currently by passing in a bogus DOMDocument containing parts current `Canvg` needs but it's a hack that could easily be formally supported by adding `fromSVGElement` static method.

[code]

[2021-03-02 06:37] #1355 closed

[2021-03-03 16:44] zarikadzer opened #1364 "Error while parsing SVG with path tag"
Hi!
I have an SVG:
`<svg width="600" height="600"><path d="M 330,0 L 330, 600" style="stroke:red;"></path></svg>`

When I've tried to parse it with canvg I've got an error:
Uncaught SyntaxError: Invalid number ending at 14
![image](https://user-images.githubusercontent.com/9337044/109839528-dbfd4000-7c4f-11eb-87c6-9509ef46f7a3.png)

![image](https://user-images.githubusercontent.com/9337044/109845

[2021-03-04 04:10] gabelerner commented on #1361
i'm busy at the moment but would consider a pull request here

in a previous version of canvg we had a method where it would find all svg nodes and replace them with the canvas counterpart. your idea is halfway to that.

[2021-03-22 06:54] #1364 closed

[2021-03-23 05:33] elInfidel commented on #1361
Is this likely to improve performance as well? @donpark

[2021-03-23 07:34] donpark commented on #1361
Based on informal testing, performance was about same but more consistent which I haphazardly attributed to reduced memory churn.

[2021-03-24 23:09] Battledash-2 opened #1383 "foreignObject is not displaying"
# While trying to use the foreignObject nothing inside of the tag is displayed.

## Expected result:
![expected](https://user-images.githubusercontent.com/69129349/112395109-30865f00-8cd4-11eb-8928-49790d9e7699.PNG)

## Actual Result:
![result](https://user-images.githubusercontent.com/69129349/112395168-4562f280-8cd4-11eb-87fb-24c9c6446e5d.PNG)

### Here's the code I'm using:
[code]

# I'm not lo

[2021-03-24 23:16] gabelerner commented on #1383
will never support this per https://github.com/canvg/canvg/issues/671 because we're in the business of rendering SVG, not HTML on a canvas.

you can use https://html2canvas.hertzen.com/ if you want to render html on a canvas in combination with canvg.

[2021-03-24 23:16] #1383 closed

[2021-03-25 04:07] Battledash-2 commented on #1383
How would HTML2CANVAS work in NodeJS?

[2021-03-25 04:19] gabelerner commented on #1383
i think you'd have to petition that repo to make the same abstractions we did where it works in both browser and node!

alternatively, if you're already on a server you can use a lot of tools to render html to an image, then drop the image into the svg.

[2021-04-01 11:18] akashishu777 opened #1391 "Unable to convert the SVG image into canvas - canvg v3.0.7"
In canvg v2.0.0 I am able to convert the SVG image into canvas but unable to do the same in v3.0.7

[code]

"canvg": "^3.0.7" Error: // Value of type 'type of Canvg' is not callable. Did you mean to include 'new'?ts(2348)

[2021-04-01 12:50] gabelerner commented on #1391
The interface changed between major version 2 and 3. Please see the readme on how to use canvg v3.

[2021-04-01 12:50] #1391 closed

[2021-04-10 17:16] nowrap opened #1394 "SVG with data:image/png;base64 pattern"
Hello,
i am trying to convert a generated SVG to PDF. I looks fine as SVG in chrome:
`<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="85mm" height="54mm" viewBox="0 0 240.94 153.07"><defs><pattern id="ci-a" height="100%" width="100%" patternContentUnits="objectBoundingBox"><image id="ci-f" height="1" width="1" preserveAspectRatio="none" xlink:href="data:im

[2021-04-10 17:20] gabelerner commented on #1394
moving into https://github.com/canvg/canvg/issues/673 where somebody can open a PR if they want

[2021-04-10 17:20] #1394 closed

[2021-04-12 07:14] balazs-karsai-tde commented on #1320
This issue has been solved with issue #1364
Closing my issue.

[2021-04-12 07:14] #1320 closed

[2021-04-12 09:34] elinljunggren commented on #1360
I think I might have a similar issue with paths. This is a minimal example, in bigger trees the extended lines get longer.
![Screenshot 2021-04-12 at 11 04 59](https://user-images.githubusercontent.com/3898657/114372634-1082e680-9b82-11eb-9f7d-b8d9503334c8.png)

These are the path elements I have:
`<path class="link" d="M 0, 18 V 0 H 707.9333343505859"></path><path class="link" d="M 0, 18 V 36 H 2

[2021-04-14 05:16] gabelerner commented on #1360
agreed we have a regression somewhere @dangreen
`<svg xmlns="http://www.w3.org/2000/svg"><path d="M 0, 100 V 0 H 200"></path></svg>` is an easy example to look at:
![image](https://user-images.githubusercontent.com/241819/114657769-951a5580-9ca5-11eb-9c4c-a696ce8bbf57.png)
but in v2:
![image](https://user-images.githubusercontent.com/241819/114657793-9b103680-9ca5-11eb-9ad0-c044e5b72299.png)

even

[2021-04-16 03:21] pasestars commented on #22
I render a circle image using pattern, but it render not right.
`<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <pattern viewBox="0 0 1 1" patternContentUnits="objectBoundingBox" width="100%" height="100%" id="pattern">
   <image id="svg_4" xlink:href="https://i.ibb.co/31PYDX5/maou.jpg" preserveAspectRatio="xMidYMid slice" wid

[2021-04-16 03:40] pasestars opened #1398 "preserveAspectRatio bug: render pattern image wrong"
I render a circle image using pattern, but it render not right.
`<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <pattern viewBox="0 0 1 1" patternContentUnits="objectBoundingBox" width="100%" height="100%" id="pattern">
   <image id="svg_4" xlink:href="https://i.ibb.co/31PYDX5/maou.jpg" preserveAspectRatio="xMidYMid slice" wid

[2021-04-17 19:20] Keller18306 opened #1400 "How to use v2 render in nodejs?"
How to use v2 render in nodejs?

[2021-04-17 19:22] Keller18306 commented on #1400
Happens when I use V3
![image](https://user-images.githubusercontent.com/23178771/115124506-49c8b580-9fcb-11eb-9e33-3f12cda53001.png)

[2021-04-17 22:25] gabelerner commented on #1400
please provide your full svg string for help

[2021-04-17 22:25] #1400 closed

[2021-04-17 22:33] Keller18306 commented on #1400
`<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="220px" height="75px" viewBox="0 0 220 75" enable-background="new 0 0 220 75" xml:space="preserve" style=""><path fill="none" stroke="#0071BC" stroke-width="15" stroke-linecap="round" stroke-linejoin="round" d="M5.77 25.49L14.48 25.49L14.48 16.56Q14.48 9.28 21.90 9.28L21.90 9.28L

[2021-04-20 03:16] gabelerner commented on #1400
so i got it rendering by:
1) removing all `,` before `M` in the path
2) removing the keyframes
![image](https://user-images.githubusercontent.com/241819/115332108-05185800-a14c-11eb-8abe-cf17f478e6db.png)

there's clearly either bad path/keyframe formatting on your end of canvg needs to improve its parsers. leaving open for somebody to triage and open a PR.

file i used:
[code]

[2021-05-04 14:26] ishanuda opened #1419 "Angular warning: CommonJS or AMD dependencies can cause optimization bailouts"
Hi,
I use this amazing library with the angular project.
However the Angular warning displays with following message:

Warning: ...\node_modules\canvg\lib\index.es.js depends on '@babel/runtime-corejs3/core-js-stable/reflect/get-prototype-of'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

Can we ha

[2021-05-12 17:53] necessary129 commented on #324
@gabelerner `ignoreClear` still produces black for me in places of transparency.

Relevant code:

[code]

[2021-05-12 17:55] necessary129 commented on #324
And this is the svg:
[code]

[2021-05-12 18:14] necessary129 opened #1426 "ctx.FillRect is overridden by canvg"
See https://jsfiddle.net/et9byr5c/2/

There are 2 canvas. Both are identical except that `#c1` has `canvg` rendering an svg with `ignoreClear: true`.
But even, then, the canvas doesn't have the blue rectangle on it.

[2021-05-12 18:50] gabelerner commented on #1426
yea seems like a bug, although it's not in the `ignoreClear` part, which does what it should

if you change your fiddle to this it works:
[code]
or you can just render w/o the `svg` tag altogether `<text x="50" y="50" fill="black">Hello Worlsd!</text>`
note that you have to get rid of the width/height from the `svg` tag AND add a `fill` to the `text` tag for it to work. somebody can look into why

[2021-05-13 18:13] wpitallo opened #1429 "Items with filter not displaying correctly"
Hi, Here is an example SVG, if you view it in the output you can see that the filer on the sunglasses are not displaying correctly.

Any idea how to fix this?

Thanks in advance:

[code]

[2021-05-13 18:19] wpitallo opened #1430 "SVG Not rendering"
The following svg does not seem to render correctly:
[code]

[2021-05-13 18:56] wpitallo commented on #1430
If i edit the render function to this is works but I guess its breaking something else:

Note the:

[code]

[code]

[2021-05-14 15:49] gabelerner commented on #1429
simplified example:
[code]

![image](https://user-images.githubusercontent.com/241819/118295878-33f6c500-b491-11eb-985b-43a1b36df0cb.png)

merging into https://github.com/canvg/canvg/issues/667

[2021-05-14 15:49] #1429 closed

[2021-05-14 17:15] gabelerner commented on #1430
the svg has a bug

there is a `use` that has `filter='url(#react-path-203)'`
but `react-path-203` is the `id` of a `<path>`, not a `<filter>`

it must be a `<filter>` per https://www.w3.org/TR/SVG11/filters.html#FilterProperty
so the generated svg is just wrong in this case

[2021-05-14 17:16] #1430 closed

[2021-05-16 07:35] wpitallo commented on #1430
Ok cool awesome, thanks for the help!

[2021-05-25 13:42] cherouvim opened #1435 "Transform (rotate) issue"
I use 3.0.7 and it renders this wrongly on chrome and firefox latest:
![problem](https://user-images.githubusercontent.com/743305/119507974-fee35000-bd77-11eb-8427-729e8aff25ef.png)

The code to reproduce this is this:
[code]

[2021-06-02 14:23] HackbrettXXX opened #1439 "wrong <image> position with SVG href"
There seems to be a bug where `<image>` elements are positioned wrong when using external URLs in the `href` attribute. The image is positioned correctly, when using a data URI. It can be reproduced like this:

[code]

Position with data URI (correct):
![image](https://user-images.githubusercontent.com/16103654/120497375-a129b600-c3be-11eb-96db-8da8b087112b.png)

Position with external URL (incorr

[2021-06-15 14:16] scoresmexico opened #1447 "support for p5js"
Hello, I'm using the abc.js library with p5.js for image processing.
p5.js does not render SVG from DOM and someone pointed out your library.
How can we code the drawing?

[2021-06-21 06:58] UTSOURCE commented on #1419
I have the same problem

[2021-07-06 15:03] HackbrettXXX commented on #1439
Turns out, there are actually two issues:
1. SVG data URLs are not detected as SVG
2. The positioning is wrong for *all* SVG images

[2021-07-09 09:54] KurtGokhan opened #1460 "Transforms don't apply transformOrigin correctly"
transformOrigin is implemented only for rotate. But unapply isn't implemented correctly. Also transformOrigin should work for skew and matrix too.

I am working on a fix. Will update with a PR.

![image](https://user-images.githubusercontent.com/6034931/125071683-4c1a4780-e0c2-11eb-9d07-b5711424b210.png)

[2021-07-10 16:57] MorenoAlex commented on #1419
Same problem here when using jsPDF in Angular 11.
See [this issue](https://github.com/MrRio/jsPDF/issues/3144).

[2021-07-12 01:43] gabelerner commented on #1419
can somebody open a PR with a fix?

[2021-07-12 02:01] #1439 closed

[2021-07-12 15:39] #108 closed

[2021-07-21 03:14] #1460 closed

[2021-07-23 10:29] paimon0715 opened #1468 "Could you help remove the vulnerability introduced in your package？"
Hi, @dangreen @gabelerner, I’d like to report a vulnerability introduced by package **xmldom**:
### Issue Description
A vulnerability [**CVE-2021-21366**](https://snyk.io/vuln/SNYK-JS-XMLDOM-1084960) detected in package **xmldom<0.5.0** is directly referenced by **_canvg@1.5.3_**. We noticed that such a vulnerability has been removed since **_canvg@2.0.0-beta.1_**.

   However, canvg's popular pre

[2021-07-24 04:59] gabelerner commented on #1468
It seems like you're just generating templates and posting issues across various projects. this vulnerability doesn't actually affect `canvg` and i'm taking the same stance that others are taking (ex: comments to less.js issue #3638 that you opened). if you can show a proof of concept exploiting our library, then i'll reconsider.

[2021-07-24 04:59] #1468 closed

[2021-08-01 09:38] sachin-duhan26 commented on #1419
this worked for me and resolved the issue.

Add the following line of code to ```angular.json``` file
[code]

[2021-08-01 09:48] ishanuda commented on #1419
Hi,
This is just to get rid of the warning right?
But still, the warning-related build optimization issues will remain.

Thanks

[2021-08-04 23:52] desumer opened #1475 "ignoreClear has no effect."
ignoreClear: true has no effect, still clearing the canvas. Other options are working. I'm using browser version umd.js.

const IOptions = {ignoreClear: true, offsetX: 250, offsetY: 50};
v = canvg.Canvg.fromString(ctx, data, IOptions);

Thanks for your help.

[2021-08-05 04:16] abetusk commented on #782
Has there been a regression on this issue? I have a the following SVG:

[code]

with the `middle text` not being centered. The text looks to be left justified with an anchor point in the middle.

As far as I can tell, I'm using `canvg` version `3.6.1`.

On the left is what I would expect (rendered with Firefox, say) and on the right is what my version (`3.6.1`?) renders:

| expected | `canvg 3.6.1

[2021-08-05 04:25] abetusk commented on #782
Ah! It looks like setting the `text-anchor` property explicitly in the `tspan` works.

This renders correctly in `canvg`:

[code]

Whereas the original example above does not:

[code]

with the difference being the `text-align="middle"` property being explicitly put in to the `tspan` instead of the `style` list.

Please let me know if you'd like me to open a separate issue.

[2021-08-05 15:50] desumer commented on #1475
I found issue #64 posted by gabelerner. Using ignoreDimensions: true with ignoreClear: true together solve the problem.

[2021-08-05 15:50] #1475 closed

[2021-08-10 04:07] lerit opened #1476 "Error while parsing SVG with path tag"
relate issue:https://github.com/canvg/canvg/issues/1364

**version: v3.0.7**
I have an SVG.

When I've tried to parse it with canvg I've got an error:
![image](https://user-images.githubusercontent.com/4743467/128806749-b80d62d5-4ebd-4c8d-a8b5-bd34429601d4.png)

[code]
after debug, i think canvg
convert :
[code]
to:
[code]
and send to svg-pathdata library.

[2021-09-08 11:13] PedroMoraisCosta opened #1479 "error TS2307: Cannot find module 'canvg' or its corresponding type declarations"
Hi,

I am having SOMETIMES an issue message when I run the command "npm run build:xxx" happens randomly..

- ERROR in src/app/framework/services/svg2image/svg-to-image.service.ts
- error TS2307: Cannot find module 'canvg' or its corresponding type declarations
- import Canvg from 'canvg'

src/app/framework/services/svg2image/svg-to-image.service.ts file is:
![image](https://user-images.githubuserc

[2021-09-14 11:21] jakber opened #1480 "3.0.8 no longer compatible with react-scripts 1.1.4"
Hi,

I know I should upgrade my react-scripts, but just FYI (and for anyone searching for this error message) 3.0.8 caused my build to fail with:

[code]

3.0.7 worked fine yesterday.

[2021-09-14 15:45] gabelerner commented on #1480
@jakber

- The file in question is https://cdn.jsdelivr.net/npm/canvg@3.0.8/lib/index.es.js correct?
- Do you have more information such as line or character number?
- What library are you using to minify? with what args?

[2021-09-15 20:27] trxcllnt commented on #1480
I believe the issue is with mixing both [`"type": "module"`](https://nodejs.org/api/packages.html#packages_type) and listing entrypoints via the [`"exports"` field](https://nodejs.org/api/packages.html#packages_exports) in package.json.

If I understand correctly you only need on or the other, not both. In this case, canvg's `index.js` is CJS, `index.es.js` is ESM, but `"type": "module"` is tellin

[2021-09-15 20:33] gabelerner commented on #1480
does the prior version work where i may have done something wrong w/ the deploy or was it code/deps from the diff that fails to minify? @dangreen any help here would be appreciated

[2021-09-15 20:46] dangreen commented on #1480
@gabelerner I'll look at the weekend

[2021-09-16 22:19] iambumblehead opened #1481 "canvg cannot be imported using native esm node"
the following error occurs when I try to import https://www.npmjs.com/package/svg2img which uses canvg,
[code]

[2021-09-16 22:20] iambumblehead commented on #1481
well this looks like an issue with svg2img ... closing

[2021-09-16 22:20] #1481 closed

[2021-09-17 18:25] jakber commented on #1480
If I understand correctly it is using webpack 3.8.1, uglifyjs-webpack-plugin 0.4.6 and uglify-js 2.8.29 and also babel-core 6.26.0 which may have nothing to do with it.

[2021-09-30 16:28] shanebdavis opened #1484 "3.0.8 breaks require("canvg")"
3.0.7 works with require("canvg")

I understand there is a desire to move towards ES modules, but 3.0.8 was a patch update; it shouldn't cause breaking changes. If such a breaking change is needed to further ES-module support, that should be a major version change e.g. 4.0.0.

I'd like to request a 3.0.9 release that restores CommonJS compatibility and a 4.0.0 release with the new ES-module change

[2021-10-02 18:01] Johoseph commented on #476
This appears to still be an issue. My workaround was using an ultra zoomed-in radial gradient - the zoom factored out all of the radial curvature. Calculating the cy and r attributes to use was not too bad in my use case as I only needed to rotate my linearGradient by an exact quadrant (see below) - I imagine this would be much harder for your case where the rotation values are more random.

[code

[2021-10-04 09:02] rdp1414 opened #1507 "HTML tags not working in Canvg"
1. HTML tags used in svg string are not respected when drawn on `canvas` rendered using `Canvg` - See [fiddle](https://jsfiddle.net/cbqo02h3/) reproducer.
2. In the console, warnings are raised saying `Element b, br, div, span not yet implemented`.
3. My use-case is to get image datauri of the svg string - First, render the svg string on `canvas` using `Canvg` and then get `canvas.toDataURL()`.

I

[2021-10-04 15:26] #1507 closed

[2021-10-05 13:00] mvmcorrea opened #1515 "Error: While trying to resolve module `canvg` from file"
error: Error: While trying to resolve module `canvg` from file `/my-app/node_modules/jspdf/dist/jspdf.es.min.js`, the package `/my-app/node_modules/canvg/package.json` was successfully found. However, this package itself specifies a `main` module field that could not be resolved (`/my-app/node_modules/canvg/lib/index.cjs`. Indeed, none of these files exist:

[2021-10-05 13:12] dangreen commented on #1515
@mvmcorrea Hi. Which version of can go is installed ? And which node version you use?

[2021-10-05 13:15] dangreen commented on #1515
@mvmcorrea also be nice if you provide minimal steps to reproduce

[2021-10-05 13:16] dangreen commented on #1480
@jakber can you try canvg@3.0.9 ?

[2021-10-05 13:17] dangreen commented on #1484
@shanebdavis can you try canvg@3.0.9 ?

[2021-10-05 13:23] mvmcorrea commented on #1515
Hi @dangreen , I'm using canvg from JSPDF "jspdf": "^2.3.1", node version 14.17 the problem start this morning...

[2021-10-05 14:07] dangreen commented on #1515
@mvmcorrea cant reproduce it locally

[code]

all works

[2021-10-06 13:36] krunkosaurus opened #1516 ""TypeError: node.getAttribute is not a function" when SVG contains FeColorMatrixElement nodes"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `canvg@3.0.9` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

The issue I encounted was when SVG's use FeColo

[2021-10-08 00:47] RibikiH opened #1519 "Can't resolve 'process/browser'"
Hi

Firstly, Thank for your work.

I use webpack 5.1 and canvg 3.0.9
Today when complie I get this error log
[code]

Have any idea thank!

[2021-10-08 08:40] dangreen commented on #1519
@RibikiH Hi. Can you provide repo with minimal code to reproduce this issue?

[2021-10-11 04:07] #1519 closed, assigned to dangreen

[2021-10-11 08:00] dangreen commented on #1515
@xilin0923 Hi. Please provide minimal repo with reproduction of this issue.

[2021-10-11 16:44] dangreen commented on #1480
@jakber

1. `index.es.js` file is only for environments which supports esmodules -> supports most of es6 features, for rest environments there are `index.cjs` https://github.com/canvg/canvg/blob/7dd63e4da1ed5daeeceaa07210ad4e533d7d62f5/package.json#L28-L36
2. We're using babel-preset-env with [esmodules target](https://babeljs.io/docs/en/babel-preset-env#targetsesmodules)
3. Please make minimal re

[2021-10-12 07:38] #1516 closed, assigned to dangreen

[2021-10-12 12:21] jakber commented on #1480
That's exactly right, it can't (https://create-react-app.dev/docs/troubleshooting/#npm-run-build-fails-to-minify). Probably not worth fixing, but maybe 3.0.8 should be 4.0.0 if it drops support for old runtimes? If not that's cool too, just wanted to let you (and others with the same problem) know that something changed in case you weren't aware.

[2021-10-13 17:07] dangreen commented on #726
Can you give an example of these svgs?

[2021-10-13 19:39] Jason-Morcos commented on #1484
3.0.9 still appears broken to me. 3.0.7 works perfectly (I use canvg as part of a process to download an SVG as an image) but 3.0.8 and 3.0.9 both only produce a blank white image. Honestly I'm not sure what issues it's related to and am happy to open a new issue certainly, but it appears to me likely related to 3.0.8 generally being a patch-release-regression and I'm not sure what, if anything, m

[2021-10-30 05:50] ghfkui commented on #1330
I have the same issue. Is there any solution?

[2021-10-31 16:27] smujaddid commented on #1519
Hi! How did you resolve this issue? Can you share it here?

[2021-11-01 08:37] RibikiH commented on #1519
You can read issue:
https://github.com/microsoft/PowerBI-visuals-tools/issues/365

[2021-11-02 16:07] HackbrettXXX opened #1548 "text: dy attribute on (parents of) nested tspans is wrong"
Consider this SVG:
[code]
Canvg doesn't render the nested tspans correctly:
![image](https://user-images.githubusercontent.com/16103654/139895132-a5ecedb5-c759-4e21-be5a-c68a609def12.png)

Can be reproduced here: https://jsfiddle.net/gd16q7eh/

[2021-11-19 06:51] SuJunJ opened #1554 "how to setCurrentTime"
I want to seek animate svg,but the start function don't support to setCurrentTime

[2021-11-26 21:44] michellocana opened #1558 "Issue with clipPath and OffscreenCanvas rendering in WebKit browsers"
I'm trying to render with OffscreenCanvas a svg that has clipPath, but the clipPath doesn't seem to be applied when rendering in Chrome/Edge, in Firefox it works perfectly.

Default renderer:
![image](https://user-images.githubusercontent.com/11337615/143656673-60a0b510-08a2-4197-9094-f1339266e6d8.png)

OffscreenCanvas renderer:
![image](https://user-images.githubusercontent.com/11337615/143656695

[2021-12-09 09:47] alfredvaa commented on #1065
Hi! Any progress on this?

[2021-12-23 23:02] jkjustjoshing opened #1568 "CSS Custom Properties not supported"
[CSS Custom Properties](https://developer.mozilla.org/en-US/docs/Web/CSS/--*) (also known as "CSS Variables") are supported in all browsers. The below should cause all `<rect>`s to fill with red, but canvg does not honor this.

[code]

![image](https://user-images.githubusercontent.com/813192/147298062-8a75ef37-6424-46d3-b055-9779001b9996.png)

[2021-12-24 01:40] gabelerner commented on #1568
This probably will go into the WONTFIX thread https://github.com/canvg/canvg/issues/671.  Just like foreign object support, the goal of `canvg` is to come close to the svg spec, not the html/css spec.  It's unlikely that we would ever support all of css in this library and today it's just simple classes, tags, and fonts.  We don't support many other selectors, pseudo-anything, at-rules, etc.  That

[2022-01-02 15:53] nowthis commented on #611
Hi folks. Here's a separate reduction of a similar issue (I believe), involving just a single `rect`.

Entering this svg on the test page:
[code]
produces this output:

<img width="676" alt="stroke-opacity-combines-with-fill" src="https://user-images.githubusercontent.com/5286645/147881046-7fc52996-397f-4082-95c8-8b52ce4a6b8d.png">

The stroke and fill appear to have their opacity applied separate

[2022-01-08 00:02] Nineswiss opened #1574 "Access parsed data?"
This might be a silly question but is there any way to get the actual parsed svg data (x,y, width, fill, paths etc)? They idea being that I can store the parsed data and manipulate or save (as json) the image.

[2022-01-09 01:48] gabelerner commented on #1574
Not a silly question.

When you do
`c = Canvg.fromString(ctx, '<svg><text x="50" y="50">Hello World!</text></svg>')`, you can access `c.documentElement` which is a subclass of https://github.com/canvg/canvg/blob/master/src/Document/Element.ts.  That means it has a `children` property and you can dive into it and get the child elements which are also subclasses of `Element`.  You can look at the `t

[2022-01-09 01:48] #1574 closed

[2022-01-12 23:26] almercier opened #1576 "2.0.0 drawSvg not maintaining aspect ratio width/height specified in svg"
I'm trying to upgrade to 2.0.0 from an unknown very old version of canvg, and I'm seeing breaking behavior when using drawSvg.

Here's a fiddle showing the behavior. Previously the aspect ratio of the width/height inside the SVG would have been maintained but now the width/height appears to be completely disregarded and instead stretched to fit the entire area given.
http://jsfiddle.net/Mercieral/

[2022-01-12 23:41] almercier commented on #726
@dangreen Finally got around to an example. I think what's happening is that for some reason the svg is getting rendered way outside of the clipping bounds I'm drawing the svg in, so it ends up not getting shown....

Here's an example of an svg using Canvg.fromString in 3.0.9
https://jsfiddle.net/Mercieral/fhnwedpv/7/
![image](https://user-images.githubusercontent.com/30079507/149240140-eff220bc-2

[2022-01-12 23:51] almercier opened #1577 "2.0.0 drawSvg to 3.0.9 Canvg.fromString x/y offsets not matching"
In continuation to https://github.com/canvg/canvg/issues/1576, when trying to update from 2.0.0 to 3.0.9 I'm seeing some discrepencies in the x/y positioning of my SVGs.

I only need to use the library to render single non-animated svgs inside an existing context. Would really have liked to have the simple "drawSvg" method stay in v3....

Here's an example using Canvg.fromString in 3.0.9
https://j

[2022-01-12 23:56] almercier commented on #726
Moved this to its own item as it seems to be separate.
https://github.com/canvg/canvg/issues/1577

[2022-01-12 23:57] almercier commented on #726
using `drawSvg` in 2.0.0 and `v.render` in v3 seems to prevent the update interval. So this ticket can be closed

[2022-01-12 23:57] #726 closed

[2022-01-13 17:57] gabelerner commented on #1576
I think the functionality has been replaced with:
![image](https://user-images.githubusercontent.com/241819/149383519-4492a903-19db-4d10-a52c-002419c80d92.png)

that's what we use on the example page: http://canvg.github.io/canvg/demo/index.html
try pasting your svg and filling in the width height and clicking render w/ and w/o the resize checked

[2022-01-13 18:57] almercier commented on #1576
That does fix it.

That leads me to my other question regarding default behavior then. Mozilla's documention [here](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio#svg) indicates that "xMidYMid meet" should be default behavior for SVGs, and since I'm not overriding preserveAspectRatio in the SVG text I would have assumed I wouldn't have to resize using that algorithm

[2022-01-13 18:58] almercier commented on #1577
Interestingly, using resize as indicated here https://github.com/canvg/canvg/issues/1576#issuecomment-1012374537 fixes this as well

[2022-01-13 19:09] almercier commented on #1576
I also was trying to use 2.0.0's drawSvg instead of Canvg.from w/ render in v3, because I explicitly do not want to have the running interval loop which appears to be running using the code below

[code]

[2022-01-14 04:21] gabelerner commented on #1576
@dangreen do you have insight into why this new API was chosen?

[2022-01-15 06:57] dangreen commented on #1576
@almercier

It will work if you remove `width` and `height` from your SVG. This behavior is valid as for browser and as for canvg.

with size:

<img width="1365" alt="Снимок экрана 2022-01-15 в 13 55 48" src="https://user-images.githubusercontent.com/986756/149612655-5bd47976-ca66-436c-b06f-52e19510ffee.png">

without:

<img width="1365" alt="Снимок экрана 2022-01-15 в 13 54 17" src="https://user-

[2022-01-26 14:35] jkjustjoshing commented on #1568
I was able to do a workaround by doing a find+replace of all CSS Variables with their values before passing to canvg. Thanks!

[2022-01-26 14:35] #1568 closed

[2022-01-27 10:33] #1548 closed

[2022-01-28 18:03] #1576 closed

[2022-01-28 18:03] #1577 closed

[2022-01-28 22:04] almercier opened #1592 "Release notes for 3.0.10"
Got the notice of an update yesterday, but do not see any release notes available for this version.

[2022-02-04 21:19] penx opened #1597 "TypeScript error when using offscreen preset"
When following the offscreen example in the readme:

[code]

A typescript error is received

This is due to `IScreenOptions` interface being defined as `window?: Window;`:

https://github.com/canvg/canvg/blob/4bbf289c85b03a6aaba491c3bd11af9cbf3e6609/src/Screen.ts#L17-L26

And offscreen's type having

`window: null`

https://github.com/canvg/canvg/blob/4bbf289c85b03a6aaba491c3bd11af9cbf3e6609/src/p

[2022-02-07 07:44] renovate[bot] opened #1603 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency rollup-plugin-typescript2 to ^0.31.0
 - [ ] chore(deps): update dependency typedoc to ^0.22.0
 - [ ] chore

[2022-02-09 18:13] serenecloud commented on #1592
Same here today, so I did some digging and the changes I can see are:

1. Updated versions of dependencies with renovate bot
2. Fixed "TypeError: node.getAttribute is not a function" when SVG contains FeColorMatrixElement nodes #1516
3. Fixed positioning of nested tspans #1563

[2022-02-10 15:21] almercier commented on #1592
Thanks @serenecloud !

[2022-02-15 01:34] serenecloud opened #1623 "Canvg 3.0.10 isn't compatible with Typescript 4.4+"
Hi,

We're in the process of upgrading our libraries (also using renovate) and our CI pipeline fails when trying to upgrade from Typescript 4.2.x to 4.5.x because of the removal of `OffscreenCanvas` and `OffscreenCanvasRenderingContext2D` in Typescript 4.4: https://github.com/microsoft/TypeScript-DOM-lib-generator/issues/1029#issuecomment-869224737

[code]

I'm not sure how easy a fix for this wil

[2022-02-17 14:20] #1592 closed

[2022-02-17 14:21] dangreen commented on #1623
@serenecloud Hi. Please try [canvg@v4](https://www.npmjs.com/package/canvg/v/4.0.0).

[2022-02-20 20:34] serenecloud commented on #1623
Hi @dangreen - thanks so much for the quick reply and the new version! We've upgraded to v4 and everything looks great!

[2022-02-20 20:34] #1623 closed

[2022-03-21 02:56] echolove38 commented on #1419
Property allowedCommonJsDependencies is not allowed.

[2022-03-24 10:52] MSlanda opened #1648 "Trojan JS:Prontexi-DO[Trj] in library"
### Would you like to work on a fix?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

We detected Trojan in one of the file where is canvg

![Prontexi](https://user-images.githubusercontent.com/91010204/159900163-26840586-4eb9-4643-8e01-de8fb2b0d669.jpg)
![Scan results](https://user-images.githubus

[2022-03-24 10:56] dangreen commented on #1648
@MSlanda Hi. Thank you, but this problem not in canvg. Please report this in [core-js repo](https://github.com/zloirock/core-js).

[2022-03-24 10:59] dangreen commented on #1648
Actually it not core-js. Basically I can't understand your report.

[2022-03-24 12:37] MSlanda commented on #1648
Hi @dangreen,
I am currently trying to find which library from that file is the reason of that alert. The issue was created when I added jspdf in version: 2.5.1 to my project. In attachment you can find compiled file and you can scan on https://virusscan.jotti.org.
[chunk-43753a99.2e7c7804.zip](https://github.com/canvg/canvg/files/8341445/chunk-43753a99.2e7c7804.zip)

[2022-04-06 14:49] oguzhanet opened #1650 "[Bug]:"
### Would you like to work on a fix?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

After updating our site to Angular 10 -> 11, we are noticing lots of third party warnings in the build as shown below. It would be nice if the warnings was handled in canvg.

Warning: C:\Project\VPDP\vpdpwebapp\vp

[2022-04-07 07:01] dangreen commented on #1650
@oguzhanet Hi. Did you try canvg@v4 ?

[2022-04-07 07:18] oguzhanet commented on #1650
@dangreen Yes, I tried. Same way.

[2022-04-07 07:20] dangreen commented on #1650
@oguzhanet are you sure? V4 doesn't depends on core-js

[2022-04-07 07:30] oguzhanet commented on #1650
![Capture](https://user-images.githubusercontent.com/77545698/162144408-526302a5-16ce-4d42-bb99-f18aa4f34c24.PNG)

Same

[2022-04-07 19:26] #1597 closed

[2022-04-07 19:28] dangreen commented on #1484
Closed due to inactivity.

[2022-04-07 19:28] #1484 closed

[2022-04-07 19:32] dangreen commented on #1650
@oguzhanet  it's canvg of jspdf.

Just configure your builder as described in link from logs (https://angular.io/guide/build#configuring-commonjs-dependencies).

[2022-04-07 19:32] #1650 closed

[2022-04-15 17:28] Kibergx opened #1651 "[Bug]: Offscreen sample not working (I fixed)"
### Would you like to work on a fix?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

In the [examples site](https://canvg.github.io/canvg/index.html) there is an example how to use canvg in a WebWorker with Offscreencanvas. When I run that code in a WebWorker I got this error:

`Uncaught (in promi

[2022-05-01 15:04] robsilva commented on #1519
Has anyone been able to solve this?

[2022-05-01 15:24] robsilva commented on #1519
For those in the same boat, I was able to solved it by adding a new rule to webpack (version 5):
[code]

[2022-05-05 05:52] dmpriso commented on #1554
You can do that by updating animations:
[code]

[2022-05-17 19:16] mrosmarin commented on #301
is this issue being fixed?

[2022-06-07 14:07] giatgen opened #1676 "[Bug]: text color does not appear (it works)"
### Would you like to work on a fix?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

Hi
The following SVG has a text color, but it does not appear.
<text fill="blue" x="4.913385827" y="57.19932283475" style="font-family:Arial; font-size:3.908pt;">Text</text>

Is there something wrong I do?

Thank

[2022-06-07 14:44] #1676 closed, assigned to nobody

[2022-06-10 11:33] sjonchhe commented on #1519
has anybody solved it using craco?

[2022-06-29 07:32] csworkdr commented on #1259
@istoan Hi! Are u fix problem with a black square? i have the same problem with mine svg

[2022-07-06 05:12] danilrez opened #1678 "[Bug]: Infinite loop in the Canvg"
### Would you like to work on a fix?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

### Example:

[code]

### Observed:

When i use **canvg** like the way in the example, it was rendered like this:

![Untitled](https://s3.us-west-2.amazonaws.com/secure.notion-static.com/b39d8e81-9873-4c2d-b378-44

[2022-07-12 12:12] #1651 closed

[2022-07-12 12:12] #1648 closed

[2022-07-14 07:23] IlyaSV commented on #1259
It seems to be same issue as shown in #1678. I found that it caused by initial canvas size. New Canvas has default size and it is treated as viewport size by canvg. In my case it was fixed by dropping canvas size to 0 before rendering. Canvg takes viewport size from SVG if canvas doesn't have size.
You can try such workaround too.

[2022-07-19 07:51] danilrez opened #1680 "[Bug]: v3+ rendered incorrectly"
### Would you like to work on a fix?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

### Example:

[code]

### Observed

Shapes are rendered in wrong positions

![Untitled](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/40154afe-aca9-4060-9d43-702ad750fc3c/Untitled.png)

### Expected

[2022-07-21 01:09] dshakya commented on #1419
Is there any update to use the ES rather than CommonJS dependencies with Angular projects?

[2022-07-21 07:43] IlyaSV commented on #1680
It seems that viewport size for nested svg is set incorrectly.

[2022-07-21 11:35] dangreen commented on #1419
@dshakya Hi. Please try canvg@v4

[2022-07-22 07:44] Rennix09 commented on #1519
save my day, thanks very much!

[2022-08-26 03:06] GitHublilei opened #1684 "[Bug]: render position error"
### Would you like to work on a fix?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

I want this svg to render the same as the browser

### Reproduction

https://codesandbox.io/s/shy-leftpad-2vg52z?file=/index.html

### Canvg version

4.0.0

### Possible solution

_No response_

[2022-08-28 21:04] alecmev opened #1685 "[Bug]: `rotate` angle units are ignored"
### Would you like to work on a fix?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

As seen in the repro, `45rad` are supplied, but it's rendered as if it were `45deg`.

### Reproduction

https://codesandbox.io/s/kind-dhawan-0uzz18?file=/index.html

### Canvg version

v4.0.1

### Possible solutio

[2022-08-29 21:59] Petah commented on #1680
Any updates on this?

[2022-09-09 05:31] elInfidel commented on #1359
Just a follow up. This issue appears to have been resolved as of 3.0.8. I'll close the issue now.

[2022-09-09 05:31] #1359 closed

[2022-10-16 09:51] esbenvb opened #1687 "Rendering SVG animations in Node"
### Would you like to work on this feature?

- [ ] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### What problem are you trying to solve?

I have a node.js process with a canvas that is being exported to a frame buffer as a bitmap (RGBA values in `Uint8Array`).

Now I want to draw SVG to this canvas, and found `canvg` which works well

[2022-10-16 18:13] jimblackler opened #1688 "[Bug]: canvg.resize(...) doesn't work on SVGs with no viewbox"
### Would you like to work on a fix?

- [X] Check this if you would like to implement a PR, we are more than happy to help you go through the process.

### Current and expected behavior

Tracing through the code, as far as I can tell, in `SVGElement.ts`

[code]

Doesn't work as expected because `getAttribute('viewBox')` wasn't called with the `createIfNotExists` parameter set to true, so the `view

[2022-10-17 16:33] jimblackler commented on #1688
https://github.com/jimblackler/canvg/commit/812e3c6d706975a6013b42897d50ea9ce3d7164d

[2022-11-07 06:18] saiprasad46 commented on #1515
Hi @mvmcorrea
I am also facing the same issue, could you please provide any solution for this

[2022-11-07 08:17] dangreen commented on #1515
@saiprasad46 Hi. Please provide minimal repo with reproduction of this issue.

[2022-11-07 08:21] saiprasad46 commented on #1515
Hi @dangreen
after importing jspdf through npm, I tried to import like this
"import { jsPDF } from "jspdf";" then I got this "error: Error: While trying to resolve module canvg from file /my-app/node_modules/jspdf/dist/jspdf.es.min.js, the package /my-app/node_modules/canvg/package.json was successfully found. However, this package itself specifies a main module field that could not be resolved (/

[2022-11-07 09:20] dangreen commented on #1515
@saiprasad46 I can fix it only if you provide a repo with reproduction.

[2022-11-28 03:24] dshakya commented on #1419
Version 4 has been great. Is there anything we can do for 'raf' and 'rgbcolor' dependencies which still gives CommonJS warnings.

Thanks in advance.